.buildpath
.settings
.settings/*
config.php
config.*
package
package/*
cache/templates_c/*
cache/templates_c/admin/*
cache/smarty_cache/*
cache/raid_lua/*
cache/armory_log/*
cache/armory_cache/*
.buildpath
.settings/
.settings/*
