/* CSS needed for the script */

div#qTip .ajax_tooltip_arrow{
	background-image:url('wowarmory_tooltip/images/arrow.gif');
	width:20px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-position:center left;
	z-index:1000005;
		opacity:0.95;
		filter:alpha(opacity=75);
		-khtml-opacity: 0.95;
		-moz-opacity: 0.95;
	height:60px;
}

div#qTip .ajax_tooltip_content{
	border:2px solid #DDDDDD;	
	color: FFFFFF;
	left:18px;	
	top:0px;
	position:absolute;
	width:340px;	
	// height:200px;	
	background-color:#000011;	
	padding:5px;	
	overflow:auto;	
		opacity:0.95;
		filter:alpha(opacity=95);
		-khtml-opacity: 0.95;
		-moz-opacity: 0.95;
		-moz-border-radius:6px
	z-index:1000001;
}
div#replaceme {
 display: none;
}
