<center>
<hr>
</center>
<div align="left">

<form action="calendar.php" method="post" name="select" id="select">
	<table width="20%" align="right" cellspacing="3">
	<tr>
		<th align="left">{month_select_header}</th>
	<tr>
	<tr>
		<td>Month: {month_select}</td>
	</tr>
	<tr>
		<td>Year: {year_select}</td>
	</tr>
	<tr>
		<td><input type="submit" name="submit" value="{submit_text}" class="mainoption"> <input type="reset" name="Reset" value="{reset_text}" class="liteoption"></td>
	</tr>
	</table>
</form>
<br><br><br><br>
<table width="35%" align="center" cellspacing="3">
<tr>
	<th><div align="left"><font color="#0000FF" size="4"><a href="calendar.php?month={prevmonth}&year={prevmonthyear}"><<</a></font></div></th>
	<th><font color="#000000" size="4"><div align="center">{monthhead}</div></font></th>
	<th><div align="right"><font color="#0000FF" size="4"><a href="calendar.php?month={nextmonth}&year={nextmonthyear}">>></a></font></div></th>
</tr>
</table>
<br>
<table border="4" width="100%" id="table1" align="center" cellspacing="3">
	<tr height="18">
		<th width=14% align="center"><b>{day1}</b></th>
		<th width=14% align="center"><b>{day2}</b></th>
		<th width=14% align="center"><b>{day3}</b></th>
		<th width=14% align="center"><b>{day4}</b></th>
		<th width=14% align="center"><b>{day5}</b></th>
		<th width=14% align="center"><b>{day6}</b></th>
		<th width=14% align="center"><b>{day7}</b></th>
	</tr>
	<tr height="100">
		<td valign="top">{box1}&nbsp;</td>
		<td valign="top">{box2}&nbsp;</td>
		<td valign="top">{box3}&nbsp;</td>
		<td valign="top">{box4}&nbsp;</td>
		<td valign="top">{box5}&nbsp;</td>
		<td valign="top">{box6}&nbsp;</td>
		<td valign="top">{box7}&nbsp;</td>
	</tr>
	<tr height="100">
		<td valign="top">{box8}&nbsp;</td>
		<td valign="top">{box9}&nbsp;</td>
		<td valign="top">{box10}&nbsp;</td>
		<td valign="top">{box11}&nbsp;</td>
		<td valign="top">{box12}&nbsp;</td>
		<td valign="top">{box13}&nbsp;</td>
		<td valign="top">{box14}&nbsp;</td>
	</tr>
	<tr height="100">
		<td valign="top">{box15}&nbsp;</td>
		<td valign="top">{box16}&nbsp;</td>
		<td valign="top">{box17}&nbsp;</td>
		<td valign="top">{box18}&nbsp;</td>
		<td valign="top">{box19}&nbsp;</td>
		<td valign="top">{box20}&nbsp;</td>
		<td valign="top">{box21}&nbsp;</td>
	</tr>
	<tr height="100">
		<td valign="top">{box22}&nbsp;</td>
		<td valign="top">{box23}&nbsp;</td>
		<td valign="top">{box24}&nbsp;</td>
		<td valign="top">{box25}&nbsp;</td>
		<td valign="top">{box26}&nbsp;</td>
		<td valign="top">{box27}&nbsp;</td>
		<td valign="top">{box28}&nbsp;</td>
	</tr>
	<tr height="100">
		<td valign="top">{box29}&nbsp;</td>
		<td valign="top">{box30}&nbsp;</td>
		<td valign="top">{box31}&nbsp;</td>
		<td valign="top">{box32}&nbsp;</td>
		<td valign="top">{box33}&nbsp;</td>
		<td valign="top">{box34}&nbsp;</td>
		<td valign="top">{box35}&nbsp;</td>
	</tr>
	<tr height="100">
		<td valign="top">{box36}&nbsp;</td>
		<td valign="top">{box37}&nbsp;</td>
		<td valign="top">{box38}&nbsp;</td>
		<td valign="top">{box39}&nbsp;</td>
		<td valign="top">{box40}&nbsp;</td>
		<td valign="top">{box41}&nbsp;</td>
		<td valign="top">{box42}&nbsp;</td>
	</tr>
	<tr>
		<td colspan="7"><font size="1"><div align="left">{key}</div></font></td>
	</tr>
</table>

</div>