<div class="contentHeader">version information</div>
<div class="contentBody" align="center">{version_info}</div>
<form action="configuration.php" method="post" name="configure" id="configure">
<div class="contentHeader">Site configure</div><br>
<div class="contentBody">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"> 
    <td valign="top" class="forumline"> <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
      <tr>
        <td class="row1"><strong>{phpraid_addon_link_text}</strong></td>
        <td class="row2">{phpraid_addon_link}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{header_logo_text}</strong></td>
        <td class="row2">{header_logo_path}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{register_text}</strong></td>
        <td class="row2">{register}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{header_link_text}</strong></td>
        <td class="row2">{header_link_value}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{default_text}</strong></td>
        <td class="row2">{default}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{language_text}</strong></td>
        <td class="row2">{language}</td>
      </tr>
        <tr> 
          <td width="200" class="row1"><strong>{template_text}</strong></td>
          <td class="row2">{template_type}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{date_text}</strong></td>
          <td class="row2">{date_format}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{time_text}</strong></td>
          <td class="row2">{time_format}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{disable_text}</strong></td>
          <td class="row2">{disable_site}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{debug_text}</strong></td>
          <td class="row2">{debug_mode}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{roster_text}</strong></td>
          <td class="row2">{roster}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{showphpraid_addon_text}</strong></td>
          <td class="row2">{showphpraid_addon_value}</td>
        </tr>
		<tr> 
          <td class="row1"><strong>{id_text}</strong></td>
          <td class="row2">{show_id}</td>
        </tr>
		<tr> 
          <td class="row1"><strong>{enable_five_man_text}</strong></td>
          <td class="row2">{enable_five_man}</td>
        </tr>
      </table></td>
  </tr>
</table>
</div><br>
<div class="contentHeader">guild configuration</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr> 
          <td width="200" class="row1"><strong>{guild_name_text}</strong></td>
          <td class="row2">{guild_name}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{description_text}</strong></td>
          <td class="row2">{guild_description}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{server_text}</strong></td>
          <td class="row2">{guild_server}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{faction_text}</strong></td>
          <td class="row2">{faction}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{timezone_text}</strong></td>
          <td class="row2">{timezone}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{dst_text}</strong></td>
          <td class="row2">{dst}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
</div>
<div class="contentHeader">Raid settings</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><strong>{autoqueue_text}</strong></td>
          <td class="row2">{auto_queue}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{freeze_text}</strong></td>
          <td class="row2">{disable_freeze}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
</div>
<div class="contentHeader">User rights</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr> 
          <td width="350" class="row1"><strong>{multiple_text}</strong></td>
          <td class="row2">{allow_multiple_signups}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{anonymous_text}</strong></td>
          <td class="row2">{allow_anonymous_viewing}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{resop_text}</strong></td>
          <td class="row2">{allow_resop}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
</div>
<div class="contentHeader">Signup Rights</div><br>
<div class="contentBody">
  <table width="100%" border="2" align="center" cellpadding="0" cellspacing="0">
  <tr>
  	<td class="row1" valign="top"></td>
  	<td class="row2" valign="top" colspan="4"><strong>On Queue</strong></td>
  	<td class="row1" valign="top" colspan="4"><strong>Cancelled Status</strong></td>
  	<td class="row2" valign="top" colspan="4"><strong>Drafted (In Raid)</strong></td>
  </tr>
  <tr>
  	<td class="row1" valign="top"></td>
  	<td class="row2" valign="top">Draft</td>
  	<td class="row2" valign="top">Comments</td>
  	<td class="row2" valign="top">Cancel</td>
  	<td class="row2" valign="top">Delete</td>
  	<td class="row1" valign="top">Queue</td>
  	<td class="row1" valign="top">Draft</td>
  	<td class="row1" valign="top">Comments</td>
  	<td class="row1" valign="top">Delete</td>
  	<td class="row2" valign="top">Queue</td>
  	<td class="row2" valign="top">Comments</td>
  	<td class="row2" valign="top">Cancel</td>
  	<td class="row2" valign="top">Delete</td>
  </tr>  
  <tr> 
	<td class="row1" valign="top"><strong>{user_text}</strong></td>
    <td class="row2" align="center" valign="top">{user_queue_promote}</td>
    <td class="row2" align="center" valign="top">{user_queue_comments}</td>
    <td class="row2" align="center" valign="top">{user_queue_cancel}</td>
    <td class="row2" align="center" valign="top">{user_queue_delete}</td>
    <td class="row1" align="center" valign="top">{user_cancel_queue}</td>
    <td class="row1" align="center" valign="top">{user_cancel_promote}</td>
    <td class="row1" align="center" valign="top">{user_cancel_comments}</td>
    <td class="row1" align="center" valign="top">{user_cancel_delete}</td>
    <td class="row2" align="center" valign="top">{user_drafted_queue}</td>
    <td class="row2" align="center" valign="top">{user_drafted_comments}</td>
    <td class="row2" align="center" valign="top">{user_drafted_cancel}</td>
    <td class="row2" align="center" valign="top">{user_drafted_delete}</td>
  </tr>
  <tr> 
    <td class="row1"><strong>{raidlead_text}</strong></td>
    <td class="row2" align="center" valign="top">{rl_queue_promote}</td>
    <td class="row2" align="center" valign="top">{rl_queue_comments}</td>
    <td class="row2" align="center" valign="top">{rl_queue_cancel}</td>
    <td class="row2" align="center" valign="top">{rl_queue_delete}</td>
    <td class="row1" align="center" valign="top">{rl_cancel_queue}</td>
    <td class="row1" align="center" valign="top">{rl_cancel_promote}</td>
    <td class="row1" align="center" valign="top">{rl_cancel_comments}</td>
    <td class="row1" align="center" valign="top">{rl_cancel_delete}</td>
    <td class="row2" align="center" valign="top">{rl_drafted_queue}</td>
    <td class="row2" align="center" valign="top">{rl_drafted_comments}</td>
    <td class="row2" align="center" valign="top">{rl_drafted_cancel}</td>
    <td class="row2" align="center" valign="top">{rl_drafted_delete}</td>
  </tr>
  <tr> 
    <td class="row1"><strong>{admin_text}</strong></td>
    <td class="row2" align="center" valign="top">{admin_queue_promote}</td>
    <td class="row2" align="center" valign="top">{admin_queue_comments}</td>
    <td class="row2" align="center" valign="top">{admin_queue_cancel}</td>
    <td class="row2" align="center" valign="top">{admin_queue_delete}</td>
    <td class="row1" align="center" valign="top">{admin_cancel_queue}</td>
    <td class="row1" align="center" valign="top">{admin_cancel_promote}</td>
    <td class="row1" align="center" valign="top">{admin_cancel_comments}</td>
    <td class="row1" align="center" valign="top">{admin_cancel_delete}</td>
    <td class="row2" align="center" valign="top">{admin_drafted_queue}</td>
    <td class="row2" align="center" valign="top">{admin_drafted_comments}</td>
    <td class="row2" align="center" valign="top">{admin_drafted_cancel}</td>
    <td class="row2" align="center" valign="top">{admin_drafted_delete}</td>
  </tr>  
</table>
</div>
<center>
{cancel_def}<br/>
{comments_def}<br/>
{delete_def}<br/>
{draft_def}<br/>
{queue_def}<br/>
</center>
<br/>
<div class="contentHeader">E-mail Configuration</div><br>
<div class="contentBody">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <td valign="top" class="forumline"> <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr> 
          <td width="200" class="row1"><strong>{admin_email_text}</strong></td>
          <td class="row2">{admin_email}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{email_signature_text}</strong></td>
          <td class="row2">{email_signature}</td>
        </tr>
      </table></td>
  </tr>
</table><br><div align="center" class="button">{buttons}</div>
</form>

