<div class="contentHeader">version information</div>
<div class="contentBody" align="center">{version_info}</div>
<form action="configuration.php" method="post" name="configure" id="configure">
<div class="contentHeader">Site configure</div><br>
<div class="contentBody">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <td valign="top" class="forumline"> <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
      <tr>
        <td class="row1"><strong>{phpraid_addon_link_text}</strong></td>
        <td class="row2">{phpraid_addon_link}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{header_logo_text}</strong></td>
        <td class="row2">{header_logo_path}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{register_text}</strong></td>
        <td class="row2">{register}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{header_link_text}</strong></td>
        <td class="row2">{header_link_value}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{default_text}</strong></td>
        <td class="row2">{default}</td>
      </tr>
      <tr>
        <td class="row1"><strong>{language_text}</strong></td>
        <td class="row2">{language}</td>
      </tr>
        <tr>
          <td width="200" class="row1"><strong>{template_text}</strong></td>
          <td class="row2">{template_type}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{date_text}</strong></td>
          <td class="row2">{date_format}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{time_text}</strong></td>
          <td class="row2">{time_format}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{disable_text}</strong></td>
          <td class="row2">{disable_site}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{debug_text}</strong></td>
          <td class="row2">{debug_mode}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{roster_text}</strong></td>
          <td class="row2">{roster}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{showphpraid_addon_text}</strong></td>
          <td class="row2">{showphpraid_addon_value}</td>
        </tr>
		<tr>
          <td class="row1"><strong>{id_text}</strong></td>
          <td class="row2">{show_id}</td>
        </tr>
		<tr>
          <td class="row1"><strong>{enable_five_man_text}</strong></td>
          <td class="row2">{enable_five_man}</td>
        </tr>
      </table></td>
  </tr>
</table>
</div><br>
<div class="contentHeader">guild configuration</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><strong>{guild_name_text}</strong></td>
          <td class="row2">{guild_name}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{description_text}</strong></td>
          <td class="row2">{guild_description}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{server_text}</strong></td>
          <td class="row2">{guild_server}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{faction_text}</strong></td>
          <td class="row2">{faction}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{timezone_text}</strong></td>
          <td class="row2">{timezone}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{dst_text}</strong></td>
          <td class="row2">{dst}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
</div>
<div class="contentHeader">Raid settings</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><strong>{autoqueue_text}</strong></td>
          <td class="row2">{auto_queue}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{freeze_text}</strong></td>
          <td class="row2">{disable_freeze}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
</div>
<div class="contentHeader">User rights</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="350" class="row1"><strong>{multiple_text}</strong></td>
          <td class="row2">{allow_multiple_signups}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{anonymous_text}</strong></td>
          <td class="row2">{allow_anonymous_viewing}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{putonqueue_text}</strong></td>
          <td class="row2">{allow_putonqueue}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{resop_text}</strong></td>
          <td class="row2">{allow_resop}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
</div>
<div class="contentHeader">E-mail Configuration</div><br>
<div class="contentBody">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <td valign="top" class="forumline"> <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><strong>{admin_email_text}</strong></td>
          <td class="row2">{admin_email}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{email_signature_text}</strong></td>
          <td class="row2">{email_signature}</td>
        </tr>
      </table></td>
  </tr>
</table><br><div align="center" class="button">{buttons}</div>
</form>

