						<br>
						</td>
					</tr>
				</table>
				<!-- Please do not remove footer information !-->
				<div id="footer">
					<br>
					Raid Management Provided by <a href="http://www.spiffyjr.com/">phpRaid</a> v{version}<br>
					&copy; 2005-2006 <a href="mailto:SpiffyJr@gmail.com">Kyle Spraggs</a><br>
					Version 3.0.8 Updated and fixed by <a href="mailto:schwickster@gmail.com">Schwick</a><br>
					Version 3.0.9 Updated by <a href="mailto:morningstarzero@gmail.com">Zeriz</a><br>
					 All Rights Reserved.<br><br>
					<a href="http://www.spiffyjr.com/">SpiffyJr</a> template by <a href="mailto:SpiffyJr@gmail.com?subject=SpiffyJr.com Template">Kyle Spraggs</a><br>
					<a href="rss.php"><img src="templates/SpiffyJr/images/rss.png" alt="RSS 0.91 Feed" border="0" align="right"></a><br>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>