						<br>
						</td>
					</tr>
				</table>
				<!-- Please do not remove footer information !-->
				<div id="footer">
					<br>
					Raid Management Provided by <a href="http://www.wowraidmanager.net/">WoW Raid Manager</a> v{version}<br>
					&copy; 2007-2008 Douglas Wagner<br>
					Original Copyright: &copy; 2005-2006 Kyle Spraggs<br>
					Please see <a href="docs/credits.htm" target="_blank">Credits</a> for more information on individual contributors.<br>
					All Rights Reserved.<br><br>
					<a href="http://www.spiffyjr.com/">SpiffyJr</a> template by <a href="mailto:SpiffyJr@gmail.com?subject=SpiffyJr.com Template">Kyle Spraggs</a><br>
					<a href="rss.php"><img src="templates/SpiffyJr/images/rss.png" alt="RSS 0.91 Feed" border="0" align="right"></a><br>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>