<div class="contentHeader">{newguild_header}</div><br>
<div class="contentBody">
<a name="new"></a>
<form action="{form_action}" method="post" name="new_raid" id="new_raid">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
          <tr> 
          <td width="200" class="row1"><span class="headmed"><strong>{name_text}</strong></span></td>
          <td class="row2">{name}</td>
        </tr>
        <tr> 
          <td width="200" class="row1"><span class="headmed"><strong>{short_text}</strong></span></td>
          <td class="row2">{short}</td>
        </tr>
        <tr> 
          <td width="200" class="row1"><span class="headmed"><strong>{master_text}</strong></span></td>
          <td class="row2">{master}</td>
        </tr>
      </table></td></tr>
</table><br>
<div align="center" class="button">{buttons}</div>
</form>