<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>WoW Raid Manager :: {title_guild_name} {of_string} {title_guild_server} :: {title_guild_description}</title>
		<script src="scripts/cal2.js" type="text/javascript"></script>
		<script src="scripts/cal2_conf.js" type="text/javascript"></script>
		<script src="scripts/phpRaid.js" type="text/javascript"></script>
		<script language="JavaScript" src="wowarmory_tooltip/js/qtip.js" type="text/JavaScript"></script>
		<script language="JavaScript" src="wowarmory_tooltip/js/tw-sack.js" type="text/JavaScript"></script>
		<script language="JavaScript" src="wowarmory_tooltip/js/ajax-dynamic-content.js" type="text/JavaScript"></script>		
		<link rel="stylesheet" href="wowarmory_tooltip/style.php" type="text/css" title="wow">
		<link rel="shortcut icon" href="templates/SpiffyJr/images/favicon.ico">
		<link rel="icon" href="templates/SpiffyJr/images/favicon.ico" type="image/x-icon">
		<link rel="alternate" title="{title_guild_name} {of_string} {title_guild_server} {rss_feed_string}" type="application/rss+xml" href="rss.php">
		<link rel="stylesheet" type="text/css" href="templates/SpiffyJr/style/calendar.css">
		<link rel="stylesheet" type="text/css" href="templates/SpiffyJr/style/stylesheet.css">
	</head>
	<body>
		<!-- DO NOT REMOVE OR YOU RISK BREAKING TOOLTIPS -->
		<div id="dhtmltooltip"></div>
		<script src="scripts/tooltips.js" type="text/javascript"></script>
		<script src="scripts/fixedtooltip.js" type="text/javascript"></script>
		<!-- END TOOLTIP CODE -->
		<div align="center">
			<div id="container">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr id="banner">
						<td width="50%"><a href="{header_link}"><img src="{header_logo}" border="0" alt="Site Logo"></a></td>
						<td width="50%" valign="top"><div align="right" style="margin-right:3px; font-size:10px; color:#ffffff">{login_form_open} <strong>{login_username}</strong> {login_password} {login_remember_hidden} {login_button} {login_form_close}</div></td>
					</tr>
				</table>
				<div id="topHeader">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr valign="top">
							<td width="50%"><div align="left" style="margin-left:10px"><strong>{guild_time_string}:</strong> {guild_date} - {guild_time}</div></td>
							<td width="50%"><div align="right" style="margin-right:10px"></div></td>
						</tr>
					</table>
				</div>
				<table width="100%" cellpadding="0" cellspacing="0" align="center">
					<tr valign="top">
						<td id="leftMenuBackground" width="150px">
							<div class="menuHeader">{menu_header_text}</div>
							{menu}
						</td>
						<td id="leftMenuBorder" width="5px">&nbsp;</td>
						<td id="contentContainer">
						{site_disabled_warning}