<br>
<a name="new"></a>
<form action="{form_action}" method="post" name="new_raid" id="new_raid">
<div class="contentHeader">{newlocation_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
          <tr> 
          <td width="200" class="row1"><span class="headmed"><strong>{shortname_text}</strong></span></td>
          <td class="row2">{name}</td>
        </tr>
        <tr> 
          <td width="200" class="row1"><span class="headmed"><strong>{location_text}</strong></span></td>
          <td class="row2">{location}</td>
        </tr>
        <tr> 
          <td width="200" class="row1"><span class="headmed"><strong>{minlvl_text}</strong></span></td>
          <td class="row2">{min_lvl}</td>
        </tr>
        <tr> 
          <td width="200" class="row1"><span class="headmed"><strong>{maxlvl_text}</strong></span></td>
          <td class="row2">{max_lvl}</td>
        </tr>
        <tr> 
          <td width="200" class="row1"><span class="headmed"><strong>{maxattendees_text}</strong></span></td>
          <td class="row2">{max}</td>
        </tr>
      </table></td></tr>
</table>
<br>
</div>
<div class="contentHeader">{limits_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td> <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
          <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{druid_name}</strong></span></td>
            <td class="row2">{dr}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{hunter_name}</strong></span></td>
            <td class="row2">{hu}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{mage_name}</strong></span></td>
            <td class="row2">{ma}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{paladin_name}</strong></span></td>
            <td class="row2">{pa}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{priest_name}</strong></span></td>
            <td class="row2">{pr}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{rogue_name}</strong></span></td>
            <td class="row2">{ro}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{shaman_name}</strong></span></td>
            <td class="row2">{sh}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{warlock_name}</strong></span></td>
            <td class="row2">{wk}</td>
        </tr>
        <tr>
            <td width="200" class="row1"><span class="headmed"><strong>{warrior_name}</strong></span></td>
            <td class="row2">{wa}</td>
        </tr>
      </table></td>
  </tr>
</table>
</div><br>
<div class="contentBody">
	<div align="center" class="button">{buttons}</div>
</div>
</form>


