<a name="new"></a>
<div class="contentHeader">{header_text}</div><br>
<div class="contentBody">
<form action="{form_action}" method="post" name="new_announcement" id="new_announcement">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top"> 
    <td><table width="100%" border="0" cellpadding="3" cellspacing="1" class="dataOutline">
		  <tr valign="top">
            <td class="row1" colspan="1"><div align="left"><strong>{name_text}</strong></div></td>
            <td class="row2" colspan="10"><div align="left">{name}</div></td>
		  </tr>
		  <tr valign="top">
            <td class="row1" colspan="1"><div align="left"><strong>{description_text}</strong></div></td>
            <td class="row2" colspan="10"><div align="left">{description}</div></td>
		  </tr>
	      <tr valign="top">
            <td class="row2"><div align="center"><strong>{announcements_text}</strong></div></td>
			<td class="row2"><div align="center"><strong>{configuration_text}</strong></div></td>
            <td class="row2"><div align="center"><strong>{guilds_text}</strong></div></td>
            <td class="row2"><div align="center"><strong>{logs_text}</strong></div></td>
            <td class="row2"><div align="center"><strong>{locations_text}</strong></div></td>
            <td class="row2"><div align="center"><strong>{permissions_text}</strong></div></td>
            <td class="row2"><div align="center"><strong>{profile_text}</strong></div></td>
            <td class="row2"><div align="center"><strong>{users_text}</strong></div></td>
            <td class="row2"><div align="center"><strong>{raids_text}</strong></div></td>
          </tr>
          <tr valign="top"> 
            <td class="row1"><div align="center">{announcements}</div></td>
			<td class="row1"><div align="center">{configuration}</div></td>
            <td class="row1"><div align="center">{guilds}</div></td>
            <td class="row1"><div align="center">{logs}</div></td>
            <td class="row1"><div align="center">{locations}</div></td>
            <td class="row1"><div align="center">{permissions}</div></td>
            <td class="row1"><div align="center">{profile}</div></td>
            <td class="row1"><div align="center">{users}</div></td>
            <td class="row1"><div align="center">{raids}</div></td>
          </tr>
        </table></td>
  </tr>
  <tr> 
    <td><br><div align="center" class="button">{buttons}</div></td>
  </tr>
</table>
</form>
