<br>
<a name="new"></a>
<div class="contentHeader">{new_header}</div><br>
<div class="contentBody">
<form method="post" action="{form_action}">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
              <tr>
                <td width="200" class="row1"><strong>{race_text}</strong></td>
                <td class="row2">{race}</td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{class_text}</strong></td>
                <td class="row2">{class}</td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{gender_text}</strong></td>
                <td class="row2">{gender}</td>
              </tr>
              <tr>
                <td class="row1"><strong>{guild_text}</strong></td>
                <td class="row2">{guild}</td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{name_text}</strong></td>
                <td class="row2">{name}</td>
              </tr>
			  <tr>
                <td class="row1"><strong>{level_text}</strong></td>
                <td class="row2">{level}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#CCFFCC">{arcane_text}</font></strong></td>
                <td class="row2">{arcane}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#FF0000">{fire_text}</font></strong></td>
                <td class="row2">{fire}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#009900">{nature_text}</font></strong></td>
                <td class="row2">{nature}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#0000FF">{frost_text}</font></strong></td>
                <td class="row2">{frost}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#663366">{shadow_text}</font></strong></td>
                <td class="row2">{shadow}</td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{role_text}</strong></td>
                <td class="row2">{role}</td>
              </tr>              
            </table></td>
        </tr>
      </table><br>
		<div align="center" class="button">{buttons}</div>
</form>
</div>
