<a name="new"></a>
<div class="contentHeader">
	{raids_new}
</div>
<br>
<div class="contentBody">
	<form action="{form_action}" method="post" name="new_raid" id="new_raid">
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td> 
					<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
						<tr>
							<td width="200" class="row1"><strong>{location_text}</strong></td>
							<td class="row2">{raid_name}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{date_text}</strong></td>
							<td class="row2">{date}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{invite_text}</strong></td>
							<td class="row2">{i_time_hour} {i_time_minute} {i_time_ampm}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{start_text}</strong></td>
							<td class="row2">{s_time_hour} {s_time_minute} {s_time_ampm}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{freeze_text}</strong></td>
							<td class="row2">{freeze}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{eventtype_text}</strong></td>
							<td class="row2">{event_type}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{dungeon_text}</strong></td>
							<td class="row2">{location}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{description_text}</strong></td>
							<td class="row2">{description}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<br>
		<div class="contentHeader">
			{limits_text}
		</div>
		<br>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
						<tr>
							<td width="200" class="row1"><strong>{max_text}</strong></td>
							<td class="row2">{maximum}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{minlvl_text}</strong></td>
							<td class="row2">{minimum_level}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{maxlvl_text}</strong></td>
							<td class="row2">{maximum_level}</td>
						</tr>
						<tr> 
							<td width="200" class="row1"><strong>{deathknight_text}</strong></td>
							<td class="row2">{deathknight_limit}</td>
						</tr>
						<tr> 
							<td width="200" class="row1"><strong>{druid_text}</strong></td>
							<td class="row2">{druid_limit}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{hunter_text}</strong></td>
							<td class="row2">{hunter_limit}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{mage_text}</strong></td>
							<td class="row2">{mage_limit}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{paladin_text}</strong></td>
							<td class="row2">{paladin_limit}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{priest_text}</strong></td>
							<td class="row2">{priest_limit}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{rogue_text}</strong></td>
							<td class="row2">{rogue_limit}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{shaman_text}</strong></td>
							<td class="row2">{shaman_limit}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{warlock_text}</strong></td>
							<td class="row2">{warlock_limit}</td>
						</tr>
						<tr> 
							<td class="row1"><strong>{warrior_text}</strong></td>
							<td class="row2">{warrior_limit}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{role1_text}</strong></td>
							<td class="row2">{role1_limit}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{role2_text}</strong></td>
							<td class="row2">{role2_limit}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{role3_text}</strong></td>
							<td class="row2">{role3_limit}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{role4_text}</strong></td>
							<td class="row2">{role4_limit}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{role5_text}</strong></td>
							<td class="row2">{role5_limit}</td>
						</tr>          
						<tr>
							<td width="200" class="row1"><strong>{role6_text}</strong></td>
							<td class="row2">{role6_limit}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	<br>
	<div align="center" class="button">
		{buttons}
	</div>
	</form>
</div>	