<div class="contentHeader">{register_header}</div><br>
<div class="contentBody">
<form name="register" method="post" action="{form_action}">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
    <tr> 
      <td> <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
          <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{username_text}</strong></span></td>
            <td class="row2">{username}</td>
          </tr>
          <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{password_text}</strong></span></td>
            <td class="row2">{password}</td>
          </tr>
          <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{confirm_password_text}</strong></span></td>
            <td class="row2">{confirm_password}</td>
          </tr>
          <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{email_text}</strong></span></td>
            <td class="row2">{email}</td>
          </tr>
        </table></td>
    </tr>
  </table><br>
  <div align="center" class="button">{buttons}</div>
</form>
</div>

