<div class="contentHeader">{team_page_header}</div><br>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="80%" align="center"><div class="contentHeader">{team_new_header}</div><br></td>
    <td width="2%"><div class="contentHeader">&nbsp;</div><br></td>
    <td width="18%" align="left"><div class="contentHeader">{team_cur_teams_header}</div><br></td>  	
  </tr>
  <tr valign="top"> 
    <td width="80%" align="center"><div class="contentBody">{team_new}</div></td>
    <td width="2%"><div class="contentBody">&nbsp;</div></td>
    <td width="18%" align="center"><div class="contentBody">{team_cur_teams}</div></td>
  </tr>
</table>
<br><br>
<div class="contentHeader">{team_remove_header}</div><br>
<div class="contentBody">{team_remove_body}</div><br><br>
<div class="contentHeader">{team_add_header}</div><br>
<div class="contentBody">{team_add_body}</div><br>
<center><dif class="contentBody">{team_add_buttons}</div></center>
<br><br>
<div class="contentBody">{raid_view_link}</div>
