<div class="contentHeader">{raid_description_header}</div><br>
<div class="contentBody">{raid_description}</div><br>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="49%"><div class="contentHeader">{information_header}</div>
      <br></td>

    <td width="2%"><div class="contentHeader">&nbsp;</div><br></td>
    <td width="49%"><div class="contentHeader">{statistics_header}</div>
      <br></td>
  </tr>
  <tr valign="top">
    <td>
		<div class="contentBody">
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{location_text}</strong></td>
          <td width="50%" class="row2">{raid_location}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{officer_text}</strong></td>
          <td width="50%" class="row2">{raid_officer}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{date_text}</strong></td>
          <td width="50%" class="row2">{raid_date}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{invite_text}</strong></td>
          <td width="50%" class="row2">{raid_invite_time}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{start_text}</strong></td>
          <td width="50%" class="row2">{raid_start_time}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{signup_text}</strong></td>
          <td width="50%" class="row2"><strong>{raid_notice}</strong></td>
        </tr>
        <tr valign="middle">
          <td colspan="2" class="row1"><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
            <tbody>
              <tr>
                <td width="11%" valign="top" class="row1"><div align="center">{druid_icon}<br>
          {druid_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{hunter_icon}<br>
          {hunter_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{mage_icon}<br>
          {mage_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{paladin_icon}<br>
          {paladin_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{priest_icon}<br>
          {priest_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{rogue_icon}<br>
          {rogue_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{shaman_icon}<br>
          {shaman_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{warlock_icon}<br>
          {warlock_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{warrior_icon}<br>
          {warrior_count}</div></td>
              </tr>
            </tbody>
          </table></td>
          </tr>
        <tr valign="middle">
          <td colspan="2" class="row1"><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
            <tbody>
              <tr>
                <td width="20%" valign="top" class="row1"><div align="center">{role1_text}<br>
          {role1_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{role2_text}<br>
          {role2_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{role3_text}<br>
          {role3_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{role4_text}<br>
          {role4_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{role5_text}<br>
          {role5_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{role6_text}<br>
          {role6_count}</div></td>
              </tr>
            </tbody>
          </table></td>
          </tr>          
      </table>
		</div></td>
    <td width="2%">&nbsp;</td>
    <td>
	<div class="contentBody">
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{minlvl_text}</strong></td>
          <td width="50%" class="row2">{raid_min_lvl}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{maxlvl_text}</strong></td>
          <td width="50%" class="row2">{raid_max_lvl}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{maxattendees_text}</strong></td>
          <td class="row2">{raid_max}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{approved_text}</strong></td>
          <td width="50%" class="row2">{raid_count} ({raid_count_percentage}%)</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{queued_text}</strong></td>
          <td width="50%" class="row2">{raid_queue_count}
            ({raid_queue_count_percentage}%)</td>
        </tr>
        <tr valign="middle">
          <td class="row1"><strong>{cancel_text}</strong></td>
          <td class="row2">{raid_cancel_count} ({raid_cancel_percentage}%)</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{total_text}</strong></td>
          <td class="row2">{raid_total}</td>
        </tr>
      </table>
      <br>
      {team_link}<br>
      {missing_link}
	</div></td></tr>
</table>
<br>
<div class="contentHeader"><a name="druids"></a>{druid_header}</div><br>
<div class="contentBody">{druids}</div><br>
<div class="contentHeader"><a name="hunters"></a>{hunter_header}</div><br>
<div class="contentBody">{hunters}</div><br>
<div class="contentHeader"><a name="mages"></a>{mage_header}</div><br>
<div class="contentBody">{mages}</div><br>
<div class="contentHeader"><a name="paladins"></a>{paladin_header}</div><br>
<div class="contentBody">{paladins}</div><br>
<div class="contentHeader"><a name="priests"></a>{priest_header}</div><br>
<div class="contentBody">{priests}</div><br>
<div class="contentHeader"><a name="rogues"></a>{rogue_header}</div><br>
<div class="contentBody">{rogues}</div><br>
<div class="contentHeader"><a name="shamans"></a>{shaman_header}</div><br>
<div class="contentBody">{shamans}</div><br>
<div class="contentHeader"><a name="warlocks"></a>{warlock_header}</div><br>
<div class="contentBody">{warlocks}</div><br>
<div class="contentHeader"><a name="warriors"></a>{warrior_header}</div><br>
<div class="contentBody">{warriors}</div><br>
<div class="contentHeader">{raid_queue_header}</div><br>
<div class="contentBody">{raid_queue}</div><br>
<div class="contentHeader">{raid_cancel_header}</div><br>
<div class="contentBody">{raid_cancel}</div><br>