{* Smarty Template *}
<div class="contentHeader">{$config_data.version_info_header}</div>
<div class="contentBody" align="center">{$config_data.version_info}</div>
<form action="configuration.php" method="post" name="configure" id="configure">
<div class="contentHeader">{$config_data.site_configure_header}</div><br>
<div class="contentBody">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
    	<td valign="top" class="forumline"> 
           <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
		      <tr>
		        <td class="row1"><strong>{$config_data.phpraid_addon_link_text}</strong></td>
		        <td class="row2">{$config_data.phpraid_addon_link}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.header_logo_text}</strong></td>
		        <td class="row2">{$config_data.header_logo_path}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.register_text}</strong></td>
		        <td class="row2">{$config_data.register}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.header_link_text}</strong></td>
		        <td class="row2">{$config_data.header_link_value}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.rss_site_text}</strong></td>
		        <td class="row2">{$config_data.rss_site_url}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.rss_export_text}</strong></td>
		        <td class="row2">{$config_data.rss_export_url}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.rss_feed_amt_txt}</strong></td>
		        <td class="row2">{$config_data.rss_feed_amt}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.default_text}</strong></td>
		        <td class="row2">{$config_data.default}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.language_text}</strong></td>
		        <td class="row2">{$config_data.language}</td>
		      </tr>
		      <tr> 
		        <td width="200" class="row1"><strong>{$config_data.template_text}</strong></td>
		        <td class="row2">{$config_data.template_type}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.date_text}</strong></td>
		        <td class="row2">{$config_data.date_format}</td>
		      </tr>
		      <tr> 
		        <td class="row1"><strong>{$config_data.time_text}</strong></td>
		        <td class="row2">{$config_data.time_format}</td>
		      </tr>
		 	  <tr> 
		        <td class="row1"><strong>{$config_data.ampm_text}</strong></td>
		        <td class="row2">{$config_data.ampm}</td>
		        </tr>        
		      <tr>
		        <td class="row1"><strong>{$config_data.disable_text}</strong></td>
		        <td class="row2">{$config_data.disable_site}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.debug_text}</strong></td>
		        <td class="row2">{$config_data.debug_mode}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.showphpraid_addon_text}</strong></td>
		        <td class="row2">{$config_data.showphpraid_addon_value}</td>
		      </tr>
		      <tr> 
		        <td class="row1"><strong>{$config_data.id_text}</strong></td>
		        <td class="row2">{$config_data.show_id}</td>
		      </tr>
			  <tr>
		        <td class="row1"><strong>{$config_data.enable_five_man_text}</strong></td>
		        <td class="row2">{$config_data.enable_five_man}</td>
		      </tr>
	      </table>
      </td>
  </tr>
</table>
</div><br>
<div class="contentHeader">{$config_data.guild_configure_header}</div>
<br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr> 
          <td width="200" class="row1"><strong>{$config_data.guild_name_text}</strong></td>
          <td class="row2">{$config_data.guild_name}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{$config_data.description_text}</strong></td>
          <td class="row2">{$config_data.guild_description}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{$config_data.server_text}</strong></td>
          <td class="row2">{$config_data.guild_server}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{$config_data.faction_text}</strong></td>
          <td class="row2">{$config_data.faction}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{$config_data.armory_link_text}</strong></td>
          <td class="row2">{$config_data.armory_link}</td>
		</tr>
        <tr>
          <td class="row1"><strong>{$config_data.armory_language_text}</strong></td>
          <td class="row2">{$config_data.armory_language}</td>
		</tr>		
        <tr>
          <td class="row1"><strong>{$config_data.timezone_text}</strong></td>
          <td class="row2">{$config_data.timezone}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{$config_data.dst_text}</strong></td>
          <td class="row2">{$config_data.dst}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
</div>
<div class="contentHeader">{$config_data.role_configure_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
		{section name=role_data_sec loop=$role_data}
	        <tr>
	          <td width="200" class="row1"><strong>{$role_data[role_data_sec].role_text}</strong></td>
	          <td class="row2">{$role_data[role_data_sec].role_name}</td>
	        </tr>
        {/section}
        <tr>
          <td class="row1"><strong>{$config_data.raid_view_type_text}</strong></td>
          <td class="row2">{$config_data.raid_view_type}</td>
		</tr>		
      </table>
    </td></tr>
</table>
<br>
</div>
<div class="contentHeader">{$config_data.raid_settings_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><strong>{$config_data.autoqueue_text}</strong></td>
          <td class="row2">{$config_data.auto_queue}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><strong>{$config_data.role_limit_text}</strong></td>
          <td class="row2">{$config_data.enforce_role_limits}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><strong>{$config_data.class_limit_text}</strong></td>
          <td class="row2">{$config_data.enforce_class_limits}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><strong>{$config_data.class_as_min_text}</strong></td>
          <td class="row2">{$config_data.class_as_min}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{$config_data.freeze_text}</strong></td>
          <td class="row2">{$config_data.disable_freeze}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
<div class="contentHeader">{$config_data.external_links_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><strong>{$config_data.enable_armory_text}</strong></td>
          <td class="row2">{$config_data.enable_armory}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><strong>{$config_data.enable_eqdkp_text}</strong></td>
          <td class="row2">{$config_data.enable_eqdkp}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><strong>{$config_data.eqdkp_url_text}</strong></td>
          <td class="row2">{$config_data.eqdkp_url}</td>
        </tr>
        <tr>
          <td class="row1"><strong>{$config_data.roster_text}</strong></td>
          <td class="row2">{$config_data.roster}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
</div>
<div class="contentHeader">{$config_data.user_rights_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr> 
          <td width="350" class="row1"><strong>{$config_data.multiple_text}</strong></td>
          <td class="row2">{$config_data.allow_multiple_signups}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{$config_data.anonymous_text}</strong></td>
          <td class="row2">{$config_data.allow_anonymous_viewing}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{$config_data.resop_text}</strong></td>
          <td class="row2">{$config_data.allow_resop}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
</div>
<div class="contentHeader">{$config_data.signup_rights_header}</div><br>
<div class="contentBody">
  <table width="100%" border="2" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="row1" valign="top"></td>
    <td class="row2" valign="top" colspan="4"><strong>{$config_data.on_queue_text}</strong></td>
    <td class="row1" valign="top" colspan="4"><strong>{$config_data.cancelled_text}</strong></td>
    <td class="row2" valign="top" colspan="4"><strong>{$config_data.drafted_text}</strong></td>
  </tr>
  <tr>
  	<td class="row1" valign="top"></td>
  	<td class="row2" valign="top">{$config_data.draft_row_header}</td>
  	<td class="row2" valign="top">{$config_data.comments_row_header}</td>
  	<td class="row2" valign="top">{$config_data.cancel_row_header}</td>
  	<td class="row2" valign="top">{$config_data.delete_row_header}</td>
  	<td class="row1" valign="top">{$config_data.queue_row_header}</td>
  	<td class="row1" valign="top">{$config_data.draft_row_header}</td>
  	<td class="row1" valign="top">{$config_data.comments_row_header}</td>
  	<td class="row1" valign="top">{$config_data.delete_row_header}</td>
  	<td class="row2" valign="top">{$config_data.queue_row_header}</td>
  	<td class="row2" valign="top">{$config_data.comments_row_header}</td>
  	<td class="row2" valign="top">{$config_data.cancel_row_header}</td>
  	<td class="row2" valign="top">{$config_data.delete_row_header}</td>
  </tr>
  <tr> 
	<td class="row1" valign="top"><strong>{$config_data.user_text}</strong></td>
    <td class="row2" align="center" valign="top">{$config_data.user_queue_promote}</td>
    <td class="row2" align="center" valign="top">{$config_data.user_queue_comments}</td>
    <td class="row2" align="center" valign="top">{$config_data.user_queue_cancel}</td>
    <td class="row2" align="center" valign="top">{$config_data.user_queue_delete}</td>
    <td class="row1" align="center" valign="top">{$config_data.user_cancel_queue}</td>
    <td class="row1" align="center" valign="top">{$config_data.user_cancel_promote}</td>
    <td class="row1" align="center" valign="top">{$config_data.user_cancel_comments}</td>
    <td class="row1" align="center" valign="top">{$config_data.user_cancel_delete}</td>
    <td class="row2" align="center" valign="top">{$config_data.user_drafted_queue}</td>
    <td class="row2" align="center" valign="top">{$config_data.user_drafted_comments}</td>
    <td class="row2" align="center" valign="top">{$config_data.user_drafted_cancel}</td>
    <td class="row2" align="center" valign="top">{$config_data.user_drafted_delete}</td>
  </tr>
  <tr> 
    <td class="row1"><strong>{$config_data.raidlead_text}</strong></td>
    <td class="row2" align="center" valign="top">{$config_data.rl_queue_promote}</td>
    <td class="row2" align="center" valign="top">{$config_data.rl_queue_comments}</td>
    <td class="row2" align="center" valign="top">{$config_data.rl_queue_cancel}</td>
    <td class="row2" align="center" valign="top">{$config_data.rl_queue_delete}</td>
    <td class="row1" align="center" valign="top">{$config_data.rl_cancel_queue}</td>
    <td class="row1" align="center" valign="top">{$config_data.rl_cancel_promote}</td>
    <td class="row1" align="center" valign="top">{$config_data.rl_cancel_comments}</td>
    <td class="row1" align="center" valign="top">{$config_data.rl_cancel_delete}</td>
    <td class="row2" align="center" valign="top">{$config_data.rl_drafted_queue}</td>
    <td class="row2" align="center" valign="top">{$config_data.rl_drafted_comments}</td>
    <td class="row2" align="center" valign="top">{$config_data.rl_drafted_cancel}</td>
    <td class="row2" align="center" valign="top">{$config_data.rl_drafted_delete}</td>
  </tr>
  <tr> 
    <td class="row1"><strong>{$config_data.admin_text}</strong></td>
    <td class="row2" align="center" valign="top">{$config_data.admin_queue_promote}</td>
    <td class="row2" align="center" valign="top">{$config_data.admin_queue_comments}</td>
    <td class="row2" align="center" valign="top">{$config_data.admin_queue_cancel}</td>
    <td class="row2" align="center" valign="top">{$config_data.admin_queue_delete}</td>
    <td class="row1" align="center" valign="top">{$config_data.admin_cancel_queue}</td>
    <td class="row1" align="center" valign="top">{$config_data.admin_cancel_promote}</td>
    <td class="row1" align="center" valign="top">{$config_data.admin_cancel_comments}</td>
    <td class="row1" align="center" valign="top">{$config_data.admin_cancel_delete}</td>
    <td class="row2" align="center" valign="top">{$config_data.admin_drafted_queue}</td>
    <td class="row2" align="center" valign="top">{$config_data.admin_drafted_comments}</td>
    <td class="row2" align="center" valign="top">{$config_data.admin_drafted_cancel}</td>
    <td class="row2" align="center" valign="top">{$config_data.admin_drafted_delete}</td>
  </tr>  
</table>
</div>
<center>
{$config_data.cancel_def}<br>
{$config_data.comments_def}<br>
{$config_data.delete_def}<br>
{$config_data.draft_def}<br>
{$config_data.queue_def}<br>
</center>
<br>
<div class="contentHeader">{$config_data.email_header}</div>
<br>
<div class="contentBody">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	  <tr>
	    <td valign="top" class="forumline">
	      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
	        <tr> 
	          <td width="200" class="row1"><strong>{$config_data.admin_email_text}</strong></td>
	          <td class="row2">{$config_data.admin_email}</td>
	        </tr>
	        <tr> 
	          <td class="row1"><strong>{$config_data.email_signature_text}</strong></td>
	          <td class="row2">{$config_data.email_signature}</td>
	        </tr>
	      </table>
	    </td>
	  </tr>
	</table>
	<br>
	<div align="center" class="button">{$config_data.buttons}</div>
  </div>
</div>
</form>