{* Smarty Template *}
<div align="center">
<div class="errorHeader">{$login_frm.errorlogin_header}</div>
<div class="errorBody">
<br/>
<form action="{$login_frm.form_action}" method="post" >

	<div align="center">{$login_frm.login_fail}</div>
	<br/>
	<br/>
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
	  <tr>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td ><div align="center">
		  <table width="100%" border="0" cellspacing="2" cellpadding="2">
			<tr>
			  <td><div align="right">{$login_frm.username}</div></td>
			  <td><div align="left">
						<input name="username" type="text" value="{$login_frm.username}" size="15" maxlength="45" onFocus="if(this.value=='{$login_frm.username}')this.value='';"  class="post">
					</div></td>
			</tr>
			<tr>
			  <td><div align="right">{$login_frm.password}</div></td>
			  <td><div align="left">
			  	<input name="password" type="password" value="password" size="15" onFocus="this.value='';" class="post">
				</div></td>
			</tr>
		  </table>
		</div>
		</td>
	  </tr>
 	  <tr>
		<td>
			<div align="center">{$login_frm.forgot_password_line}</div>
		</td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
	  </tr>

	  <tr>
		<td><div align="center">
			<input type="submit" name="login" value="{$login_frm.bd_login}" style="font-size:10px" class="mainoption"></div>
		</td>
	  </tr>
	</table>
	<input type="hidden" value="1" name="autologin">
	<br/>
</form>
</div>
</div>