<div align="center">
<div class="errorHeader">{errorlogin_header}</div>
<div class="errorBody">
<br/>
<form action="{form_action}" method="post" >

	<div align="center">{login_fail}</div>
	<br/>
	<br/>
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
	  <tr>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td ><div align="center">
		  <table width="100%" border="0" cellspacing="2" cellpadding="2">
			<tr>
			  <td><div align="right">{username}</div></td>
			  <td><div align="left">
						<input name="username" type="text" value="{username}" size="15" maxlength="45" onFocus="if(this.value=='{username}')this.value='';"  class="post">
					</div></td>
			</tr>
			<tr>
			  <td><div align="right">{password}</div></td>
			  <td><div align="left">
			  	<input name="password" type="password" value="password" size="15" onFocus="this.value='';" class="post">
				</div></td>
			</tr>
		  </table>
		</div>
		</td>
	  </tr>
 	  <tr>
		<td>
			<div align="center">{forgot_password_line}</div>
		</td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
	  </tr>

	  <tr>
		<td><div align="center">
			<input type="submit" name="login" value="{bd_login}" style="font-size:10px" class="mainoption"></div>
		</td>
	  </tr>
	</table>
	<input type="hidden" value="1" name="autologin">
	<br/>
</form>
</div>
</div>