{* Smarty Template *}
<!-- flooble Expandable Content box start -->
<div style="border: 1px solid #000000; padding: 0px; background: #EEEEEE; ">
	<table border="0" cellspacing="0" cellpadding="2" width="100%" style="background: #000000; color: #FFFFFF; ">
		<tr>
			<td>{$expbox.title}</td>
			<td align="right">
				[<a title="show/hide" id="{$expbox.id}_link" href="javascript: void(0);" onclick="toggle(this, '{$expbox.id}');"  style="text-decoration: none; color: #FFFFFF; ">-</a>]
			</td>
		</tr>
	</table>
	<div id="{$expbox.id}" style="padding: 3px;">{$expbox.text}</div>
</div>
<!--
<noscript>
	<a href="http://www.flooble.com/scripts/expand.php">
		this expanable content box is made using a  free javascript from flooble
	</a> | Read free <a href="http://perplexus.info/">brainteasers</a>
</noscript>
-->
<script language="javascript">
	toggle(getObject('{$expbox.id}_link'), '{$expbox.id}');
</script>
<!-- flooble Expandable Content box end  -->