{* Smarty Template *}
						<br>
						</td>
					</tr>
				</table>
				<!-- Please do not remove footer information !-->
				<div id="footer">
					<br>
					Raid Management Provided by <a href="http://www.wowraidmanager.net/">WoW Raid Manager</a> v{$version}<br>
					&copy; 2007-2008 Douglas Wagner<br>
					Please see <a href="docs/credits.htm" target="_blank">Credits</a> for more information on individual contributors.<br>
					All Rights Reserved.<br><br>
					Default Template owned and Copyrighted by Douglas Wagner, originally modified from the SpiffyJr Template.
					<a href="rss.php"><img src="templates/default/images/rss.png" alt="RSS 0.91 Feed" border="0" align="right"></a><br>
				</div>
			</div>
		</div>
	</body>
</html>