<br>
<a name="new"></a>
<form action="{$locations_new.form_action}" method="post" name="new_raid" id="new_raid">
<div class="contentHeader">{$locations_new.newlocation_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
          <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.shortname_text}</strong></span></td>
          <td class="row2">{$locations_new.name}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.location_text}</strong></span></td>
          <td class="row2">{$locations_new.location}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.eventtype_text}</strong></span></td>
          <td class="row2">{$locations_new.event_type}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.minlvl_text}</strong></span></td>
          <td class="row2">{$locations_new.min_lvl}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.maxlvl_text}</strong></span></td>
          <td class="row2">{$locations_new.max_lvl}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.maxattendees_text}</strong></span></td>
          <td class="row2">{$locations_new.max}</td>
        </tr>
      </table></td></tr>
</table>
<br>
</div>
<div class="contentHeader">{$locations_new.limits_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td> <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.deathknight_name}</strong></span></td>
            <td class="row2">{$locations_new.dk}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.druid_name}</strong></span></td>
            <td class="row2">{$locations_new.dr}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.hunter_name}</strong></span></td>
            <td class="row2">{$locations_new.hu}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.mage_name}</strong></span></td>
            <td class="row2">{$locations_new.ma}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.paladin_name}</strong></span></td>
            <td class="row2">{$locations_new.pa}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.priest_name}</strong></span></td>
            <td class="row2">{$locations_new.pr}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.rogue_name}</strong></span></td>
            <td class="row2">{$locations_new.ro}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.shaman_name}</strong></span></td>
            <td class="row2">{$locations_new.sh}</td>
        </tr>
        <tr> 
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.warlock_name}</strong></span></td>
            <td class="row2">{$locations_new.wk}</td>
        </tr>
        <tr>
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.warrior_name}</strong></span></td>
            <td class="row2">{$locations_new.wa}</td>
        </tr>
        {if $locations_new.role1_name != ""}
	        <tr>
	            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.role1_name}</strong></span></td>
	            <td class="row2">{$locations_new.role1}</td>
	        </tr>
        {/if}
        {if $locations_new.role2_name != ""}
	        <tr>
	            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.role2_name}</strong></span></td>
	            <td class="row2">{$locations_new.role2}</td>
	        </tr>
        {/if}
        {if $locations_new.role3_name != ""}
	        <tr>
	            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.role3_name}</strong></span></td>
	            <td class="row2">{$locations_new.role3}</td>
	        </tr>
        {/if}
        {if $locations_new.role4_name != ""}
	        <tr>
	            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.role4_name}</strong></span></td>
	            <td class="row2">{$locations_new.role4}</td>
	        </tr>
        {/if}
        {if $locations_new.role5_name != ""}
	        <tr>
	            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.role5_name}</strong></span></td>
	            <td class="row2">{$locations_new.role5}</td>
	        </tr>        
        {/if}
        {if $locations_new.role6_name != ""}
	        <tr>
	            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.role6_name}</strong></span></td>
	            <td class="row2">{$locations_new.role6}</td>
	        </tr>        
        {/if}
        <tr>
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.locked_text}</strong></span></td>
            <td class="row2">{$locations_new.locked}</td>
        </tr>
      </table></td>
  </tr>
</table>
</div><br>
<div class="contentBody">
	<div align="center" class="button">{$locations_new.buttons}</div>
</div>
</form>


