<br>
<a name="new"></a>
<form action="{$locations_new.form_action}" method="post" name="new_raid" id="new_raid">
<div class="contentHeader">{$locations_new.newlocation_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.eventtype_text}</strong></span></td>
          <td class="row2">{$locations_new.event_type}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.expansion_text}</strong></span></td>
          <td class="row2">{$locations_new.expansion}</td>
        </tr>
		<tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.event_text}</strong></span></td>
		  {if $locations_new.icon != ""}
          	<td class="row2">{$locations_new.event}&nbsp;&nbsp;&nbsp;<img src="{$locations_new.icon}"></td>
          {else}
          	<td class="row2">{$locations_new.event}</td>
		  {/if}          
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.location_text}</strong></span></td>
          <td class="row2">{$locations_new.location}&nbsp;&nbsp;{$locations_new.location_read_only_text}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.shortname_text}</strong></span></td>
          <td class="row2">{$locations_new.name}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.eventtype_text}</strong></span></td>
          <td class="row2">{$locations_new.event_type}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.minlvl_text}</strong></span></td>
          <td class="row2">{$locations_new.min_lvl}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.maxlvl_text}</strong></span></td>
          <td class="row2">{$locations_new.max_lvl}</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.maxattendees_text}</strong></span></td>
          <td class="row2">{$locations_new.max}</td>
        </tr>
      </table></td></tr>
</table>
<br>
</div>
<div class="contentHeader">{$locations_new.limits_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td> <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        {section name=class_data_sec loop=$class_data}
	        <tr> 
	            <td width="200" class="row1"><span class="headmed"><strong>{$class_data[class_data_sec].lang_id}</strong></span></td>
	            <td class="row2">{$class_data[class_data_sec].class}</td>
	        </tr>
        {/section}
        {section name=role_data_sec loop=$role_data}
		    {if $role_data[role_data_sec].lang_id != ""}
		        <tr> 
		            <td width="200" class="row1"><span class="headmed"><strong>{$role_data[role_data_sec].lang_id}</strong></span></td>
		            <td class="row2">{$role_data[role_data_sec].role}</td>
		        </tr>
		    {/if}
        {/section}
        <tr>
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.locked_text}</strong></span></td>
            <td class="row2">{$locations_new.locked}</td>
        </tr>
      </table></td>
  </tr>
</table>
</div><br>
<div class="contentBody">
	<div align="center" class="button">{$locations_new.buttons}</div>
</div>
</form>


