<br>
<a name="new"></a>
<form action="{$locations_new.form_action}" method="post" name="new_raid" id="new_raid">
<div class="contentHeader">{$locations_new.newlocation_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.eventtype_text}</strong></span></td>
          <td class="row2">
          	{html_options name=event_type options=$locations_new.array_event_type selected=$locations_new.selected_event_type class="post" onChange="MM_jumpMenu('self',this,0)"}
          </td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.expansion_text}</strong></span></td>
          <td class="row2">
          	{html_options name=expansion options=$locations_new.array_expansion selected=$locations_new.selected_expansion id="expansion" class="post" onChange="MM_jumpMenu('self',this,0)"}
          </td>
        </tr>
		<tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.event_text}</strong></span></td>
		  {if $locations_new.icon != ""}
          	<td class="row2">{$locations_new.event}&nbsp;&nbsp;&nbsp;<img src="{$locations_new.icon}"></td>
          {else}
          	<td class="row2">{$locations_new.event}</td>
		  {/if}          
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.location_text}</strong></span></td>
          <td class="row2">
          	<input name="location" value="{$locations_new.location_wow_name}" type="text" id="location" style="width:350px" class="post" DISABLED>
          	&nbsp;&nbsp;{$locations_new.location_read_only_text}
          </td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.shortname_text}</strong></span></td>
          <td class="row2">
          		<input name="name" type="text" id="name" value="{$locations_new.location_shortname}" class="post">
          </td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.raid_force_text}</strong></span></td>
          <td class="row2">
          	<!-- {html_options name=raid_force_id options=$locations_new.array_raid_force selected=$locations_new.selected_raid_force class="post" onChange="MM_jumpMenu('self',this,0)"} -->
          	{html_options name=raid_force_name options=$locations_new.array_raid_force selected=$locations_new.selected_raid_force class="post"}
          	</td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.minlvl_text}</strong></span></td>
          <td class="row2">
          	<input name="location_min_lvl" type="text" value="{$locations_new.location_min_lvl}"  class="post" style="width:20px" maxlength="2">
          </td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.maxlvl_text}</strong></span></td>
          <td class="row2">
            <input name="location_max_lvl" type="text" value="{$locations_new.location_max_lvl}"  class="post" style="width:20px" maxlength="2">
          </td>
        </tr>
        <tr>
          <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.maxattendees_text}</strong></span></td>
          <td class="row2">
          	<input name="number_max_chars" type="text" value="{$locations_new.number_max_chars}"  class="post" style="width:20px" maxlength="2">
          </td>
        </tr>
        <tr>
            <td width="200" class="row1"><span class="headmed"><strong>{$locations_new.locked_text}</strong></span></td>
            <td class="row2">
           		<input name="lock_template" type="checkbox" value="{$locations_new.chbox_locked_loc_value}" ="post" {$locations_new.chbox_locked_loc_status}>
            </td>
        </tr>
      </table>
    </td>
   </tr>
</table>
</div>
<br>
<div class="contentHeader">{$locations_new.limits_header}</div>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
<tr>
<td>
	<div class="contentHeader">{$locations_new.class_header}</div>
</td>
<td>
	<div class="contentHeader">{$locations_new.role_header}</div>
</td>
</tr>
<tr>
<td>
		<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
	    {section name=class_data_sec loop=$class_data}
	        <tr> 
	            <td width="200" class="row1"><span class="headmed"><strong>{$class_data[class_data_sec].lang_id}</strong></span></td>
	            <td class="row2">{$class_data[class_data_sec].class}</td>
	        </tr>
        {/section}
        </table>
</td>
<td valign="top">
		<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        {section name=role_data_sec loop=$role_data}
		    {if $role_data[role_data_sec].lang_id != ""}
		        <tr> 
		            <td width="200" class="row1"><span class="headmed"><strong>{$role_data[role_data_sec].lang_id}</strong></span></td>
		            <td class="row2">{$role_data[role_data_sec].role}</td>
		        </tr>
		    {/if}
        {/section}
        </table>
</td>
</tr>
</table>

<br>
<div class="contentBody">
	<div align="center" class="button">
		<input type="submit" value="{$locations_new.button_01}" name="submit" class="mainoption">
		<input type="reset" value="{$locations_new.button_reset}" name="reset" class="liteoption">
	</div>
</div>
</form>


