{* Smarty Template *}
<div class="contentHeader">{$options_header}</div>
<br>
<form action="{$lua_output_form.form_action}" method="post" name="update_options" id="update_options">
	<div class="contentBody">
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<b>{$lua_output_form.options_header}</b>
			    	<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
						<tr>
							<td width="200" class="row1">{$lua_output_form.sort_signups_text}</td>
							<td class="row2">{$lua_output_form.sort_signups}</td>
						</tr>
						<tr>
							<td width="200" class="row1">{$lua_output_form.sort_queue_text}</td>
							<td class="row2">{$lua_output_form.sort_queue}</td>
						</tr>
						<tr>
							<td width="200" class="row1">{$lua_output_form.output_format_text}</td>
							<td class="row2">{$lua_output_form.output_format}</td>
						</tr>
						<tr><td>{$lua_output_form.Buttons}</td></tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</form>
<br>
{* Include either the Lua Output or Macro Output file depending on how we were called. *} 
{include file=$lua_include_file}