{* Smarty Template *}
<div class="contentHeader">{$macro_output.macro_header}</div>
<div class="contentBody">
<table width="100%">
	<tr>
		<td>{$macro_output.drafted_users_text}</td>
		<td>{$macro_output.queued_users_text}</td>
	</tr>
	<tr>
		<td width="50%">
			<textarea align="left" rows="10" cols="60" style="width: 100%">
{$macro_output.drafted_users}
			</textarea>
		</td>
		<td width="50%">
			<textarea align="left" rows="10" cols="60" style="width: 100%">
{$macro_output.queued_users}
			</textarea>
		</td>
	</tr>
</table>
</div>
<b>
{$macro_output.macro_footer}
</b>
