{* Smarty Template *}
<br>
<a name="new"></a>
<div class="contentHeader">{$guilds_new.new_header}</div><br>
<div class="contentBody">
<form method="post" action="{$guilds_new.form_action}">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
              <tr>
                <td width="200" class="row1"><strong>{$guilds_new.race_text}</strong></td>
                <td class="row2">{$guilds_new.race}</td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{$guilds_new.class_text}</strong></td>
                <td class="row2">{$guilds_new.class}</td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{$guilds_new.gender_text}</strong></td>
                <td class="row2">{$guilds_new.gender}</td>
              </tr>
              <tr>
                <td class="row1"><strong>{$guilds_new.guild_text}</strong></td>
                <td class="row2">{$guilds_new.guild}</td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{$guilds_new.name_text}</strong></td>
                <td class="row2">{$guilds_new.name}</td>
              </tr>
			  <tr>
                <td class="row1"><strong>{$guilds_new.level_text}</strong></td>
                <td class="row2">{$guilds_new.level}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#CCFFCC">{$guilds_new.arcane_text}</font></strong></td>
                <td class="row2">{$guilds_new.arcane}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#FF0000">{$guilds_new.fire_text}</font></strong></td>
                <td class="row2">{$guilds_new.fire}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#009900">{$guilds_new.nature_text}</font></strong></td>
                <td class="row2">{$guilds_new.nature}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#0000FF">{$guilds_new.frost_text}</font></strong></td>
                <td class="row2">{$guilds_new.frost}</td>
              </tr>
              <tr>
                <td class="row1"><strong><font color="#663366">{$guilds_new.shadow_text}</font></strong></td>
                <td class="row2">{$guilds_new.shadow}</td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{$guilds_new.role_text}</strong></td>
                <td class="row2">{$guilds_new.pri_spec}</td>
              </tr>              
              <tr>
                <td width="200" class="row1"><strong>{$guilds_new.role_text}</strong></td>
                <td class="row2">{$guilds_new.sec_spec}</td>
              </tr>              
            </table></td>
        </tr>
      </table><br>
		<div align="center" class="button">{$guilds_new.buttons}</div>
</form>
</div>
