{* Smarty Template *}
<br>
{* <a name="new"></a> *}
<div class="contentHeader">{$char_new.char_header}</div>
<br>
<div class="contentBody">
<form method="post" action="{$char_new.form_action}">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
              <tr>
                <td class="row1"><strong>{$char_new.guild_text}</strong></td>
                <td class="row2">
					{html_options name=guild options=$char_new.array_guild selected=$char_new.selected_guild class="post" onChange="MM_jumpMenu('self',this,0)" class="form" style="width:100px"}
                </td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{$char_new.race_text}</strong></td>
                <td class="row2">
					{html_options name=race options=$char_new.array_race selected=$char_new.selected_race class="post" onChange="MM_jumpMenu('self',this,0)" class="form" style="width:100px"}
                </td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{$char_new.class_text}</strong></td>
                <td class="row2">
					{html_options name=class options=$char_new.array_class selected=$char_new.selected_class class="post" onChange="MM_jumpMenu('self',this,0)" class="form" style="width:100px"}
                </td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{$char_new.gender_text}</strong></td>
                <td class="row2">{$char_new.gender}</td>
              </tr>
              <tr>
                <td width="200" class="row1"><strong>{$char_new.name_text}</strong></td>
                <td class="row2">{$char_new.name}</td>
              </tr>
			  <tr>
                <td class="row1"><strong>{$char_new.level_text}</strong></td>
                <td class="row2">{$char_new.level}</td>
              </tr>
            </table></td>
        </tr>
      </table>
	<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
		<tr>
			<td>
				<div class="contentHeader">{$char_new.resistance_header}</div>
			</td>
			<td>
				<div class="contentHeader">{$char_new.role_header}</div>
			</td>
		</tr>
		<tr>
		<td>
			<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
			   	{section name=index loop=$resistance}
					<tr> 
						<td width="200" class="row1" valign="middle">
							<img src="{$resistance[index].resistance_image}" height="15" width="15" />
							<strong><font color="#{$resistance[index].font_color}">{$resistance[index].resistance_text}</strong>
						</td>
						<td class="row2" valign="top">
						{if $char_new.mode != "disable"}
							<input name="{$resistance[index].resistance_name}" type="text" class="post" size="3" value="{$resistance[index].char_resistance_value}" maxlength="3">
						{else}
							{$resistance[index].char_resistance_value}
						{/if}
						</td>
					</tr>
			     {/section}
			</table>
		</td>
		<td valign="top">
		<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
          <tr>
            <td width="200" class="row1"><strong>{$char_new.role_text}</strong></td>
            <td class="row2">{$char_new.pri_spec}</td>
          </tr>              
          <tr>
            <td width="200" class="row1"><strong>{$char_new.role_text}</strong></td>
            <td class="row2">{$char_new.sec_spec}</td>
          </tr>
         </table> 
		</td>
		</tr>
	</table>      
    <br>
    {if $char_new.mode != "disable"}
		<div align="center" class="button">
			<input type="submit" value="{$char_new.buttons_01}" name="submit" class="mainoption">
		</div>
	{/if}
</form>
</div>
