<a name="new"></a>
<div class="contentHeader">
	{$page.raids_new}
</div>
<br>
<div class="contentBody">
	<form action="{$page.form_action}" method="post" name="new_raid" id="new_raid">
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td> 
					<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
						<tr>
							<td width="200" class="row1"><strong>{$page.location_text}</strong></td>
							<td class="row2">{$page.raid_name}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{$page.date_text}</strong></td>
							<td class="row2">{$page.date}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{$page.invite_text}</strong></td>
							<td class="row2">{$page.i_time_hour} {$page.i_time_minute} {$page.i_time_ampm}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{$page.start_text}</strong></td>
							<td class="row2">{$page.s_time_hour} {$page.s_time_minute} {$page.s_time_ampm}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{$page.freeze_text}</strong></td>
							<td class="row2">{$page.freeze}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{$page.eventtype_text}</strong></td>
							<td class="row2">{$page.event_type}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{$page.dungeon_text}</strong></td>
							<td class="row2">{$page.location}</td>
						</tr>
						<tr>
							<td class="row1"><strong>{$page.description_text}</strong></td>
							<td class="row2">{$page.description}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<br>
		<div class="contentHeader">
			{$page.limits_text}
		</div>
		<br>
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
						<tr>
							<td width="200" class="row1"><strong>{$page.max_text}</strong></td>
							<td class="row2">{$page.maximum}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{$page.minlvl_text}</strong></td>
							<td class="row2">{$page.minimum_level}</td>
						</tr>
						<tr>
							<td width="200" class="row1"><strong>{$page.maxlvl_text}</strong></td>
							<td class="row2">{$page.maximum_level}</td>
						</tr>
        				{section name=class_data_sec loop=$class_limits}
							<tr> 
								<td width="200" class="row1"><strong>{$class_limits[class_data_sec].lang_id}</strong></td>
								<td class="row2">{$class_limits[class_data_sec].lmt}</td>
							</tr>
				        {/section}
				        {section name=role_data_sec loop=$role_limits}
						    {if $role_limits[role_data_sec].lang_id != ""}
								<tr>
									<td width="200" class="row1"><strong>{$role_limits[role_data_sec].lang_id}</strong></td>
									<td class="row2">{$role_limits[role_data_sec].lmt}</td>
								</tr>
						    {/if}
				        {/section}
					</table>
				</td>
			</tr>
		</table>
	<br>
	<div align="center" class="button">
		{$page.buttons}
	</div>
	{$page.event_id_info}
	</form>
</div>	