<div class="contentHeader">{$view_raid_info.raid_description_header}</div><br>
<div class="contentBody">{$view_raid_info.raid_description}</div><br>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="49%"><div class="contentHeader">{$view_raid_info.information_header}</div>
      <br></td>

    <td width="2%"><div class="contentHeader">&nbsp;</div><br></td>
    <td width="49%"><div class="contentHeader">{$view_raid_info.statistics_header}</div>
      <br></td>
  </tr>
  <tr valign="top">
    <td>
		<div class="contentBody">
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.location_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_location}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.officer_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_officer}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.raid_force_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_force}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.date_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_date}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.invite_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_invite_time}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.start_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_start_time}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.signup_text}</strong></td>
          <td width="50%" class="row2"><strong>{$view_raid_info.raid_notice}</strong></td>
        </tr>
        <tr valign="middle">
          <td colspan="2" class="row1"><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
            <tbody>
              <tr>
              	{section name=class_data_sec loop=$class_count_icon}
                	<td width="11%" valign="top" class="row1"><div align="center">{$class_count_icon[class_data_sec].icon}<br>
          				{$class_count_icon[class_data_sec].count}</div></td>
          		{/section}
              </tr>
            </tbody>
          </table></td>
          </tr>
        <tr valign="middle">
          <td colspan="2" class="row1"><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
            <tbody>
              <tr>
              	{section name=role_data_sec loop=$role_count_icon}
	                <td width="20%" valign="top" class="row1"><div align="center">{$role_count_icon[role_data_sec].text}<br>
						{$role_count_icon[role_data_sec].count}</div></td>
          		{/section}
              </tr>
            </tbody>
          </table></td>
          </tr>          
      </table>
		</div></td>
    <td width="2%">&nbsp;</td>
    <td>
	<div class="contentBody">
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.minlvl_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_min_lvl}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.maxlvl_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_max_lvl}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.maxattendees_text}</strong></td>
          <td class="row2">{$view_raid_info.raid_max}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.approved_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_count} ({$view_raid_info.raid_count_percentage}%)</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.queued_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_queue_count}
            ({$view_raid_info.raid_queue_count_percentage}%)</td>
        </tr>
        <tr valign="middle">
          <td class="row1"><strong>{$view_raid_info.cancel_text}</strong></td>
          <td class="row2">{$view_raid_info.raid_cancel_count} ({$view_raid_info.raid_cancel_percentage}%)</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.total_text}</strong></td>
          <td class="row2">{$view_raid_info.raid_total}</td>
        </tr>
      </table>
      <br>
      {$view_raid_info.team_link}<br>
      {$view_raid_info.missing_link}
	</div></td></tr>
</table>
<br>
{section name=class_data_sec loop=$class_table}
	<div class="contentHeader"><a name="{$class_table[class_data_sec].header_data.header}"></a>{$class_table[class_data_sec].header_data.header}</div><br>
	<div class="contentBody">{include file='raids_table.html' raid_data=$class_table[class_data_sec].class_data jump_menu=$class_table[class_data_sec].jump_menu record_counts=$class_table[class_data_sec].record_counts column_name=$class_table[class_data_sec].column_name header_data=$class_table[class_data_sec].header_data}</div><br>	
{/section}
<div class="contentHeader">{$queue_header_data.raid_queue_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$queue_data jump_menu=$queue_jump_menu record_counts=$queue_record_counts column_name=$queue_column_name header_data=$queue_header_data}</div><br>
<div class="contentHeader">{$cancel_header_data.raid_cancel_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$cancel_data jump_menu=$cancel_jump_menu record_counts=$cancel_record_counts column_name=$cancel_column_name header_data=$cancel_header_data}</div><br>
