<div class="contentHeader">{$view_raid_info.raid_description_header}</div><br>
<div class="contentBody">{$view_raid_info.raid_description}</div><br>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="49%"><div class="contentHeader">{$view_raid_info.information_header}</div>
      <br></td>

    <td width="2%"><div class="contentHeader">&nbsp;</div><br></td>
    <td width="49%"><div class="contentHeader">{$view_raid_info.statistics_header}</div>
      <br></td>
  </tr>
  <tr valign="top">
    <td>
		<div class="contentBody">
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.location_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_location}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.officer_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_officer}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.date_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_date}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.invite_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_invite_time}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.start_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_start_time}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.signup_text}</strong></td>
          <td width="50%" class="row2"><strong>{$view_raid_info.raid_notice}</strong></td>
        </tr>
        <tr valign="middle">
          <td colspan="2" class="row1"><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
            <tbody>
              <tr>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.deathknight_icon}<br>
          {$view_raid_info.deathknight_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.druid_icon}<br>
          {$view_raid_info.druid_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.hunter_icon}<br>
          {$view_raid_info.hunter_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.mage_icon}<br>
          {$view_raid_info.mage_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.paladin_icon}<br>
          {$view_raid_info.paladin_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.priest_icon}<br>
          {$view_raid_info.priest_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.rogue_icon}<br>
          {$view_raid_info.rogue_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.shaman_icon}<br>
          {$view_raid_info.shaman_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.warlock_icon}<br>
          {$view_raid_info.warlock_count}</div></td>
                <td width="11%" valign="top" class="row1"><div align="center">{$view_raid_info.warrior_icon}<br>
          {$view_raid_info.warrior_count}</div></td>
              </tr>
            </tbody>
          </table></td>
          </tr>
        <tr valign="middle">
          <td colspan="2" class="row1"><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
            <tbody>
              <tr>
                <td width="20%" valign="top" class="row1"><div align="center">{$view_raid_info.role1_text}<br>
          {$view_raid_info.role1_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{$view_raid_info.role2_text}<br>
          {$view_raid_info.role2_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{$view_raid_info.role3_text}<br>
          {$view_raid_info.role3_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{$view_raid_info.role4_text}<br>
          {$view_raid_info.role4_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{$view_raid_info.role5_text}<br>
          {$view_raid_info.role5_count}</div></td>
                <td width="20%" valign="top" class="row1"><div align="center">{$view_raid_info.role6_text}<br>
          {$view_raid_info.role6_count}</div></td>
              </tr>
            </tbody>
          </table></td>
          </tr>          
      </table>
		</div></td>
    <td width="2%">&nbsp;</td>
    <td>
	<div class="contentBody">
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.minlvl_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_min_lvl}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.maxlvl_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_max_lvl}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.maxattendees_text}</strong></td>
          <td class="row2">{$view_raid_info.raid_max}</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.approved_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_count} ({$view_raid_info.raid_count_percentage}%)</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.queued_text}</strong></td>
          <td width="50%" class="row2">{$view_raid_info.raid_queue_count}
            ({$view_raid_info.raid_queue_count_percentage}%)</td>
        </tr>
        <tr valign="middle">
          <td class="row1"><strong>{$view_raid_info.cancel_text}</strong></td>
          <td class="row2">{$view_raid_info.raid_cancel_count} ({$view_raid_info.raid_cancel_percentage}%)</td>
        </tr>
        <tr valign="middle">
          <td width="50%" class="row1"><strong>{$view_raid_info.total_text}</strong></td>
          <td class="row2">{$view_raid_info.raid_total}</td>
        </tr>
      </table>
      <br>
      {$view_raid_info.team_link}<br>
      {$view_raid_info.missing_link}
	</div></td></tr>
</table>
<br>
<div class="contentHeader"><a name="deathknight"></a>{$dk_header_data.deathknight_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$dk_data jump_menu=$dk_jump_menu record_counts=$dk_record_counts column_name=$dk_column_name header_data=$dk_header_data}</div><br>
<div class="contentHeader"><a name="druids"></a>{$dr_header_data.druid_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$dr_data jump_menu=$dr_jump_menu record_counts=$dr_record_counts column_name=$dr_column_name header_data=$dr_header_data}</div><br>
<div class="contentHeader"><a name="hunters"></a>{$hu_header_data.hunter_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$hu_data jump_menu=$hu_jump_menu record_counts=$hu_record_counts column_name=$hu_column_name header_data=$hu_header_data}</div><br>
<div class="contentHeader"><a name="mages"></a>{$ma_header_data.mage_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$ma_data jump_menu=$ma_jump_menu record_counts=$ma_record_counts column_name=$ma_column_name header_data=$ma_header_data}</div><br>
<div class="contentHeader"><a name="paladins"></a>{$pa_header_data.paladin_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$pa_data jump_menu=$pa_jump_menu record_counts=$pa_record_counts column_name=$pa_column_name header_data=$pa_header_data}</div><br>
<div class="contentHeader"><a name="priests"></a>{$pr_header_data.priest_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$pr_data jump_menu=$pr_jump_menu record_counts=$pr_record_counts column_name=$pr_column_name header_data=$pr_header_data}</div><br>
<div class="contentHeader"><a name="rogues"></a>{$ro_header_data.rogue_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$ro_data jump_menu=$ro_jump_menu record_counts=$ro_record_counts column_name=$ro_column_name header_data=$ro_header_data}</div><br>
<div class="contentHeader"><a name="shamans"></a>{$sh_header_data.shaman_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$sh_data jump_menu=$sh_jump_menu record_counts=$sh_record_counts column_name=$sh_column_name header_data=$sh_header_data}</div><br>
<div class="contentHeader"><a name="warlocks"></a>{$wl_header_data.warlock_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$wl_data jump_menu=$wl_jump_menu record_counts=$wl_record_counts column_name=$wl_column_name header_data=$wl_header_data}</div><br>
<div class="contentHeader"><a name="warriors"></a>{$wa_header_data.warrior_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$wa_data jump_menu=$wa_jump_menu record_counts=$wa_record_counts column_name=$wa_column_name header_data=$wa_header_data}</div><br>
<div class="contentHeader">{$queue_header_data.raid_queue_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$queue_data jump_menu=$queue_jump_menu record_counts=$queue_record_counts column_name=$queue_column_name header_data=$queue_header_data}</div><br>
<div class="contentHeader">{$cancel_header_data.raid_cancel_header}</div><br>
<div class="contentBody">{include file='raids_table.html' raid_data=$cancel_data jump_menu=$cancel_jump_menu record_counts=$cancel_record_counts column_name=$cancel_column_name header_data=$cancel_header_data}</div><br>
