<table cellspacing="0" cellpadding="1" border="0" width="100%">
  <tr>
    <td bgcolor="#010121" width="64" valign="top">
	<img src="{tpl_avatar}" border="0">
    </td>
    <td bgcolor="#010121" valign="top" align="left"> 
       <font size="2px" color="#ffffff"><b>{tpl_char_character_name}</b></font><br />
       <font size="3px" color="#ffd517"><b>{tpl_char_character_guildname}</b></font><br />
       <font color="#ffffff"> LEVEL {tpl_char_character_level} {tpl_char_character_race} {tpl_char_character_class}</font> <br />
       {tpl_pri_talent_data}<br> 
	   {tpl_sec_talent_data}
    </td>
     <td bgcolor="#010121" width="74" valign="top" align="left">
	{tpl_buffs}
     </td>
 </tr>

 <tr>
  <td bgcolor="#00BF00" colspan="100%"> 
    <center> {tpl_health} </center>
  </td>
 </tr>

 <tr>
  <td bgcolor="{tpl_secondbar_color}" colspan="100%">
    <center> {tpl_secondbar} </center>
  </td>
 </tr>
  
 <tr>
  <td colspan="100%">
   <table cellspacing="1" width="100%" cellpadding="0" border="0">

<!--body_field-->

                 <tr>
                   <td bgcolor="#111111" valign="top" align="left" width="35%">
                      <font color="{tpl_data_color}"><b>{tpl_data_field}:</b></font>
                   </td>
                   <td bgcolor="#011101" valign="top" align="left">
                        &nbsp; <font color="#FFFFFF">{tpl_data_value}</font>
                   </td>
                 </tr>

<!--/body_field-->

    </table>
<!--teste-->
asdasd
<!--/teste-->


<!--teste_b-->
ALSDLASKDLASK DLASDKL ASKDLASasdasd
<!--/teste_b-->

  </td>
</tr>
 <tr>
  <td colspan="100%">
   <table cellspacing="1" width="100%" cellpadding="0" border="0">
 <tr>
   <td bgcolor="#222222" valign="top" align="left" width="35%">

      <font color="#FFDDFF"><img src="{tpl_icons_professions_0}" align="middle" vspace="0" hspace="0"><b>{tpl_char_charactertab_professions_skill_0_name}</b></font>
   </td>
   <td bgcolor="#022202" valign="top" align="left">
        &nbsp; <font color="#FFFFFF"> {tpl_char_charactertab_professions_skill_0_value}/{tpl_char_charactertab_professions_skill_0_max}</font>
   </td>
 </tr>
 <tr>
   <td bgcolor="#222222" valign="top" align="left" width="35%">

      <font color="#FFDDFF"><img src="{tpl_icons_professions_1}" align="middle" vspace="0" hspace="0"><b>{tpl_char_charactertab_professions_skill_1_name}</b></font>
   </td>
   <td bgcolor="#022202" valign="top" align="left">
        &nbsp; <font color="#FFFFFF"> {tpl_char_charactertab_professions_skill_1_value}/{tpl_char_charactertab_professions_skill_1_max}</font>
   </td>
 </tr>

    </table>
  </td>
</tr>
</table>
