<link href="style/stylesheet.css" rel="stylesheet" type="text/css">
<form method="post" action="{$form_action}">

 <table align="center" width="800">
   <tr>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td class="rowHover"><div align="center">{$headtitle}</div></td>
   </tr>
   <tr>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td><div align="center" class="row1">{$bridge_step0_choose_auth}</div></td>
   </tr>
  <tr>
   <td>
    <tr>
	<td>
	  <div align="Left" class="row2">
		 <table align="center" width="800">
		   <tr >
		      <td class="rowHover">{$bridge_name_text}</td>
		      <td class="rowHover">{$dbname_text}</td>
		      <td class="rowHover">{$table_prefix_text}</td>
		      <td class="rowHover">{$bridge_users_found_text}</td>
		   </tr>
		   <tr>
		   	<td>
	  	   		{html_radios name="allfoundbridges" options=$allfoundbridges selected=$allfoundbridges_selected separator=""}  
		    </td>
		   </tr>
		  </table>
	  </div>
	</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">
      <input type="submit" name="submit" value="{$bd_submit}" class="bd_normal" />
      <input type="hidden" name="step" value="1" class="bd_normal" />
    </div></td>
  </tr>
 </table>  

</form>
