<link href="style/stylesheet.css" rel="stylesheet" type="text/css">
<form method="post" action="{$form_action}">

 <table align="center" width="800">
   <tr>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td class="rowHover"><div align="center">{$headtitle}</div></td>
   </tr>
   <tr>
    <td>
	   <table width="100%" border="0" align="center" cellpadding="2" cellspacing="2">
	    <tr>
	     <td align="center" ><input type="submit" name="scan" value="{$button_scan}" class="bd_normal" /></td>
	     <td class="row1">{$scan_text}</td>
	    </tr>
	    <tr>
	     <td align="center" ><input type="submit" name="manualedit" value="{$button_manualedit}" class="bd_normal" /></td>
	     <td class="row1">{$manualedit_text}</td>
	    </tr>
	    <tr>
	     <td align="center" ><input type="submit" name="iums" value="{$button_iums}" class="bd_normal" /></td>
	     <td class="row1">{$iums_text}</td>
	    </tr>
	   </table>
     </td>
    </tr>
 
 </table>  

</form>
