<link href="style/stylesheet.css" rel="stylesheet" type="text/css">
<form method="post" action="{$form_action}">

 <table align="center" width="600">
  <tr>
   <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center" class="row1">{$user_admin_01_text}</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <div align="center">
        <select name="bridge_admin_id" class="post">
		 {html_options values=$bridge_admin_id_values selected=$bridge_admin_id_selected output=$bridge_admin_id_output}
        </select>
        </div>
	</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <div align="center">
		<input type="submit" name="submit" value="{$bd_submit}" />
		<input type="hidden" name="bridge_name" value="{$bridge_name}" />
		<input type="hidden" name="bridge_db_table_prefix" value="{$bridge_db_table_prefix}" />
		<input type="hidden" name="bridge_database_name" value="{$bridge_database_name}" />
      </div>    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
 </table>  

</form>
