				<!-- Please do not remove footer information !-->
				<div id="footer">
					<br/>
					Raid Management Provided by <a href="http://www.wowraidmanager.net/">WoW Raid Manager</a> v{$wrm_version}<br/>
					&copy; 2007-2009 Douglas Wagner<br>
					<!-- Installer Provided by Carsten Hölbing !-->
					Please see <a href="docs/credits.htm" target="_blank">Credits</a> for more information on individual contributors.<br/>
					All Rights Reserved.<br><br>
					Default Template owned and Copyrighted by Douglas Wagner, originally modified from the SpiffyJr Template.
				</div>
			</div>
		</div>
		<br/>
		<div align="center">
		  <a href="http://www.smarty.net/"><img src="templates/images/smarty_icon.gif" alt="Smarty Template Engine" border="0"></a>
	</body>
  </div>
</html>