<link href="style/stylesheet.css" rel="stylesheet" type="text/css">
<br/>
<form method="post" action="{$form_action}">

 <table align="center" width="700">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="tooltip_title">{$upgrade_headtitle}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>  
  <tr>
   <td><table width="95%" border="0" align="center" cellpadding="2" cellspacing="2">
    <tr>
     <td width="40%" class="row1">{$wrm_versions_nr_current_text}</td>
     <td width="30%" class="row1">{$wrm_versions_nr_current_value}</td>
     <td width="30%">&nbsp;</td>
    </tr>
    <tr>
     <td class="row2">{$wrm_versions_nr_from_install_text}</td>
     <td class="row2">{$wrm_versions_nr_from_install_value}</td>
     <td>&nbsp;</td>
    </tr>

   </table>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>
	  <div align="center">
		<input type="submit" name="submit" value="{$bd_start}">
	  </div>	</td>
  </tr>
 </table>  

</form>
