<link href="style/stylesheet.css" rel="stylesheet" type="text/css">
<br/>
<form method="post" action="{$form_action}">

 <table align="center" width="700">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="rowHover"><div align="center">{$error_install_version_to_old_titel}</div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>  
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="row2"><div align="center">{$error_found_table_bd_cont}</div></td>
  </tr>
  <tr>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td>
	  <div align="center">
		<input type="submit" name="submit" value="{$bd_submit}">
	  </div>	</td>
  </tr>
 </table>  

</form>
