
.errorHeaderInstall {
	background-color:#660000;
	border: 1px #ff0000 solid;
	border-bottom: 0px;
	color: #FFFFFF; 
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
	text-align:left;
	text-transform:uppercase;
}

/*new*/
.errorBodyText {
	background-color:#FFD5D5;
	color:#CC0000;
	border-top:0px;
	font-size:10px;
	font-weight:normal;
	padding:3px;
	text-align:center;
}