{* Smarty Template 

$page_header_data.path_images = "templates/".$this->wrm_config['template']."/images"

//if you want to use your owne css-stylessheet
$page_header_data.path_style = "templates/".$this->wrm_config['template']."/style"

*}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
	{* load default settings *}
	{*	example
		<link rel="stylesheet" type="text/css" href="{$page_header_data.path_style}/my_cssfile.css">
	*}
	{$page_header_data.default_values}
	</head>
	<body class="{$page_header_data.body_width}">
		<div align="center">
			<div id="container">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr id="banner">
						<td width="50%"><a href="{$page_header_data.header_link}"><img src="{$page_header_data.path_images}/logo_phpRaid.jpg" border="0" alt="Site Logo"></a></td>
						<td width="50%" valign="top">
							<!-- Login Box -->
							{$page_header_data.login_form}
						</td>
					</tr>
				</table>
				<div id="topHeader">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr valign="top">
							<td width="50%"><div align="left" style="margin-left:10px"><strong>{$page_header_data.guild_time_string}:</strong> {$page_header_data.guild_date} - {$page_header_data.guild_time}</div></td>
							<td width="50%"><div align="right" style="margin-right:10px"></div>&nbsp;</td>
						</tr>
					</table>
				</div>
				<table width="100%" cellpadding="0" cellspacing="0" align="center">
					<tr valign="top">
