{* Smarty Template *}
<form action="admin_usersettings.php" method="post" name="configure" id="configure">
<div class="contentHeader">{$config_data.user_rights_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr> 
          <td width="350" class="row1"><strong>{$config_data.multiple_text}</strong></td>
          <td class="row2">{$config_data.allow_multiple_signups}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{$config_data.anonymous_text}</strong></td>
          <td class="row2">{$config_data.allow_anonymous_viewing}</td>
        </tr>
        <tr> 
          <td class="row1"><strong>{$config_data.resop_text}</strong></td>
          <td class="row2">{$config_data.allow_resop}</td>
        </tr>
      </table>
    </td></tr>
</table>
<br>
<div align="center" class="button">{$config_data.buttons}</div>
</div>
</form>