{* Smarty Template *}
<form action="admin_generalcfg.php" method="post" name="configure" id="configure">
<div class="contentHeader">{$config_data.rss_header}</div>
<br>
<div class="contentBody">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	  <tr>
	    <td valign="top" class="forumline">
	      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
		      <tr>
		        <td class="row1"><strong>{$config_data.rss_site_text}</strong></td>
		        <td class="row2">{$config_data.rss_site_url}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.rss_export_text}</strong></td>
		        <td class="row2">{$config_data.rss_export_url}</td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.rss_feed_amt_txt}</strong></td>
		        <td class="row2">{$config_data.rss_feed_amt}</td>
		      </tr>
			</table>
		</td>
	</tr>
</table>
<br>
<div align="center" class="button">
	<input type="submit" value="{$config_data.button_submit}" name="submit" class="mainoption">
	<input type="reset" value="{$config_data.button_reset}" name="reset" class="liteoption">
</div>
</div>
</form>
