{* Smarty Template *}
<div class="contentBody">
	{if !empty($raid_data)}
		<table width="100%" cellpadding="3" cellspacing="0" border="0" class="dataOutline">
			<caption>{$record_counts.recordHeader}</caption>
			<tr>
				<td align="left" colspan="{$record_counts.columnCount}">{$jump_menu}</td>
			</tr>
			<tr class="listHeader">
				{section name=create_columns loop=$column_name}
					{if $column_name[create_columns].visible}
						{if $column_name[create_columns].img_url != NULL}
							{if $header_data.sort_descending}
								<th>
									<a href="{$header_data.sort_url_base}Sort={$column_name[create_columns].column_name}&SortDescending=0">
										<img border="0" height="18" width="18" alt="{$column_name[create_columns].col_text}" onMouseout="hideddrivetip();" onMouseover="ddrivetip('{$header_data.sort_text} {$column_name[create_columns].col_text}');" src="templates/{$header_data.template_name}/{$column_name[create_columns].img_url}"></img>
									</a>
								</th>
							{else}
								<th>
									<a href="{$header_data.sort_url_base}Sort={$column_name[create_columns].column_name}&SortDescending=1">
										<img border="0" height="18" width="18" alt="{$column_name[create_columns].col_text}" onMouseout="hideddrivetip();" onMouseover="ddrivetip('{$header_data.sort_text} {$column_name[create_columns].col_text}');" src="templates/{$header_data.template_name}/{$column_name[create_columns].img_url}"></img>
									</a>
								</th>
							{/if}							
						{elseif $column_name[create_columns].column_name == "Buttons"}
							<th>&nbsp;</th>
						{else}
							{if $header_data.sort_descending}
								<th><a href="{$header_data.sort_url_base}Sort={$column_name[create_columns].column_name}&SortDescending=0">{$column_name[create_columns].col_text}</a></th>
							{else}
								<th><a href="{$header_data.sort_url_base}Sort={$column_name[create_columns].column_name}&SortDescending=1">{$column_name[create_columns].col_text}</a></th>
							{/if}							
						{/if}
					{/if}
				{/section}
			</tr>
			{section name=raids_data_sec loop=$raid_data}
			{cycle name='classname' assign='classname' values="row1,row2"}
			<tr class="{$classname}" onmouseover="this.className='rowHover';" onmouseout="this.className='{$classname}';">
				{section name=display_column_data loop=$column_name}
					{assign var=foo value="`$column_name[display_column_data].column_name`"}
					{if $column_name[display_column_data].visible}
						<td>{$raid_data[raids_data_sec].$foo}</td>
					{/if}
				{/section}
			</tr>
			{/section}
		</table>
	{else}
		<table width="100%" cellpadding="3" cellspacing="0" border="0" class="dataOutline">
			<tr class="listHeader">
				<th>Empty</th>
			</tr>
		</table>
	{/if}
</div>