<div class="contentHeader">{$config_data.config_data_header}</div><br>
<div class="contentBody">
<a name="new"></a>
<form action="{$new_announcement.form_action}" method="post" name="configure" id="configure">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="">
  <tr valign="top"> 
    <td><table width="100%" border="0" cellpadding="3" cellspacing="1" class="dataOutline">
          <tr valign="top"> 
            <td width="200" class="row1"><strong>menu_value_id</strong></td>
            <td class="row2">
            	<input type="hidden" name="menu_value_id" value="{$config_data.menu_value_id}">{$config_data.menu_value_id}
            </td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>menu_type_id</strong></td>
            <td class="row2">
			 {html_options name=menu_type_id options=$config_data.array_menu_type_id selected=$config_data.selected_menu_type_id class="post"}			
            </td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>lang_index</strong></td>
            <td class="row2"><input type="text" size="69" name="lang_index" value="{$config_data.lang_index}" class="post"></td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>menu_value_title_alt</strong></td>
            <td class="row2"><input type="text" size="69" name="menu_value_title_alt" value="{$config_data.menu_value_title_alt}" class="post"></td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>show_menu_value_title_alt</strong></td>
            <td class="row2">
            	{html_options name=show_menu_value_title_alt options=$config_data.array_show_menu_value_title_alt selected=$config_data.selected_show_menu_value_title_alt class="post"}
            </td>          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>ordering</strong></td>
            <td class="row2"><input type="text" size="69" name="ordering" value="{$config_data.ordering}" class="post"></td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>filename_without_ext</strong></td>
            <td class="row2"><input type="text" size="69" name="filename_without_ext" value="{$config_data.filename_without_ext}" class="post"></td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>link</strong></td>
            <td class="row2"><input type="text" size="69" name="link" value="{$config_data.link}" class="post"></td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>menu_image</strong></td>
            <td class="row2"><input type="text" size="69" name="menu_image" value="{$config_data.menu_image}" class="post"></td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>menu_image_show</strong></td>
            <td class="row2">
             {html_options name=menu_image_show options=$config_data.array_noyes selected=$config_data.selected_menu_image_show class="post"}
            </td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>permission_value_name</strong></td>
            <td class="row2">
             {html_options name=permission_value_id options=$config_data.array_permission_value_id selected=$config_data.selected_permission_value_id class="post"}
			</td>
          </tr>
          <tr valign="top"> 
            <td width="200" class="row1"><strong>visible</strong></td>
            <td class="row2">
             {html_options name=visible options=$config_data.array_visible selected=$config_data.selected_visible class="post"}
            </td>
          </tr>                    
        </table>
    </td>
  </tr>
  <tr> 
    <td><br>
	<div align="center" class="button">
		<input type="submit" name="submit" value="{$config_data.button_01}" class="mainoption">
		<input type="reset" name="reset" value="{$config_data.button_reset}" class="liteoption">
	</div></td>
  </tr>
</table>
</form>
</div>