{* Smarty Template *}
<form action="admin_externcfg.php" method="post" name="configure" id="configure">
<div class="contentHeader">{$config_data.external_links_header}</div><br>
<div class="contentBody">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><strong>{$config_data.enable_armory_text}</strong></td>
          <td class="row2">
          	<input type="checkbox" name="enable_armory" value="1" {$config_data.enable_armory}>
          </td>
        </tr>
        <tr>
          <td width="200" class="row1"><strong>{$config_data.armory_cache_text}</strong></td>
          <td class="row2">
           	{html_options name=armory_cache options=$config_data.array_armory_cache selected=$config_data.selected_armory_code class="post"}
          </td>
        </tr>
        <tr>
          <td width="200" class="row1"><strong>{$config_data.enable_eqdkp_text}</strong></td>
          <td class="row2">
          	<input type="checkbox" name="enable_eqdkp" value="1" {$config_data.enable_eqdkp}>
          </td>
        </tr>
        <tr>
          <td width="200" class="row1"><strong>{$config_data.eqdkp_url_text}</strong></td>
          <td class="row2">
          	<input name="eqdkp_url" type="text" value="{$config_data.eqdkp_url}" size="60" class="post">
          </td>
        </tr>
   {*     <!--  <tr>
          <td class="row1"><strong>{$config_data.roster_text}</strong></td>
          <td class="row2">{$config_data.roster}</td>
        </tr>  --> *}
      </table>
    </td></tr>
</table>
<br>
{if ($config_data.show_bridge_config == TRUE)}
<div class="contentHeader">{$config_data.configuration_extsys_bridge_config_header}</div><br>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td valign="top"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">
        <tr>
          <td width="200" class="row1"><strong>{$config_data.configuration_extsys_group_text}</strong></td>
          <td class="row2">
          			{html_options name=configuration_extsys_group options=$config_data.array_group selected=$config_data.selected_group_id class="post"}
          			<br>
          			{$config_data.configuration_extsys_group01}<br>
          			{$config_data.configuration_extsys_group02}<br>
          			{$config_data.configuration_extsys_group03}
          </td>
        </tr>
        <tr>
          <td width="200" class="row1"><strong>{$config_data.configuration_extsys_alt_group_text}</strong></td>
          <td class="row2">
          			{html_options name=configuration_extsys_alt_group options=$config_data.array_alt_group selected=$config_data.selected_alt_group_id class="post"}
          			<br>
          			{$config_data.configuration_extsys_alt_group01}<br>
          			{$config_data.configuration_extsys_alt_group02}
          </td>
        </tr>

      </table>
    </td></tr>
  </table>
 
<br>
{/if}

<div align="center" class="button">
	<input type="submit" name="submit" value="{$config_data.button_submit}" class="mainoption">
	<input type="reset" name="reset" value="{$config_data.button_reset}" class="liteoption">
</div>

</div>
</form>
