{* Smarty Template *}
<form action="{$config_data.form_action}" method="post" name="configure" id="configure">
<div class="contentHeader">{$config_data.general_header}</div>
<br>
<div class="contentBody">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
    	<td valign="top" class="forumline">
           <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">

		      <tr>
		        <td width="200" class="row1"><strong>{$config_data.header_logo_path_text}</strong></td>
		        <td class="row2"><input name="header_logo" size="60" type="text" class="post" value="{$config_data.header_logo_path_value}"></td>
		      </tr>
		      <tr>
		        <td class="row1"><strong>{$config_data.header_link_text}</strong></td>
		        <td class="row2"><input name="header_link" size="60" type="text" class="post" value="{$config_data.header_link_value}"></td>
		      </tr>
			</table>
		</td>
	</tr>
</table>
</div>
<br>
<div class="contentHeader">{$config_data.template_cfg_header}</div><br>
<div class="contentBody">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
    	<td valign="top" class="forumline"> 
           <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dataOutline">

		      <tr> 
		        <td width="200" class="row1"><strong>{$config_data.template_text}</strong></td>
		        <td class="row2">
		        	{html_options name=template options=$config_data.array_template_type selected=$config_data.selected_template_type}
				</td>
		      </tr>
		      <tr> 
		        <td width="200" class="row1"><strong>{$config_data.template_width_text}</strong></td>
		        <td class="row2">
		        	{html_options name=template_width options=$config_data.array_template_width selected=$config_data.selected_template_width}
				</td>
		      </tr>
			</table>
		</td>
	</tr>
</table>           
<br>
</div>
<div align="center" class="button">
	<input type="submit" value="{$config_data.button_submit}" name="submit" class="mainoption">
	<input type="reset" value="{$config_data.button_reset}" name="reset" class="liteoption">
</div>
</form>
